@{    TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData WebSiteListWebSiteData = new TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData(0);}
<style>
    table {border-collapse: collapse;}
    table.OrderTable td {padding: 0 5px;border:1px solid #000;}
    table.OrderTable th {text-align: left;padding: 0 5px;border:1px solid #000;}
</style>
<html>
    <body>
        <table width="795" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
            <tr>
                <td>
                    <img src="@Model.Header" width="795" height="113" />
                </td>
            </tr>
            <tr>
                <td  style="padding:0 20px;">
                    <p>
                        @Model.AccountName 小姐/先生您好：
                        <br /><br />
                        感謝您對本網站的支持
                        <br /><br />
                        訂單編號：@process.CartID
                        <br /><br />
                        商品名稱：@process.Title
                        <br /><br />
                        廠商目前已收到您的退貨商品，經檢測，由於您的退貨商品: @Model.ABNReturnReason ，
                        根據退貨規定:「退貨的商品必須回復原狀，亦即回到您收到商品時的原始狀態(包含主機、附件、內外包裝、隨機文件及贈品等等  )」，故需暫緩您的退貨申請處理，我們會再請專人與您聯繫後續情況，煩請手機暢通待我們聯繫，造成不便之處還請見諒，再次感謝您的支持與愛護！
                    </p>
                    <p style="margin-top:50px;">
                            若有任何問題, 請聯繫@(WebSiteListWebSiteData.Contact1)<br />
                            電話:@(WebSiteListWebSiteData.PhoneNumber2) 客服信箱：<a href="mailto:@(WebSiteListWebSiteData.Email1)">@(WebSiteListWebSiteData.Email1)</a><br />
                            服務時間: @(WebSiteListWebSiteData.ServiceTime)<br />
                    </p>
                    <p align="right">@(WebSiteListWebSiteData.Contact1)敬上 </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Fooer" width="795" height="108" />
                </td>
            </tr>
        </table>
    </body>
</html>