@{
    ViewBag.Title = "Test";
    var allProducts = ViewBag.test as List<TWNewEgg.Models.ViewModels.Product.ProductDetail>;
}

<h2>Test</h2>
@ViewBag.TestStart
<br />
@ViewBag.TestEnd
<br />
@(allProducts.Count)
<br />
@foreach (var singleProduct in allProducts)
{
    @(singleProduct.ID)
    <br />
    @(singleProduct.Name)
}
<br />
