<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    @*Start Each page's meta tags, pass by section metaTags Start*@
    @RenderSection("metaTags", false)
    @*End Each page's meta tags, pass by section metaTags End*@


    @*Start Each page's title, pass by ViewBag.Title Start*@
    <title>@ViewBag.Title</title>
    @*End Each page's title, pass by ViewBag.Title End*@


    @*Start Whole site's css Start*@
    @*@Styles.Render("~/Themes/css/reset.css")*@
    @*End Whole site's css End*@


    @*Start reference css Start, pass by section refCSS Start*@
    @RenderSection("refCSS", false)
    @*End reference css, pass by section refCSS End*@


    @*Start Each page's css, pass by section styleSheets Start*@
    @RenderSection("styleSheets", false)
    @*End Each page's css, pass by section styleSheets End*@


    @*Start reference javascripts, pass by section headRefJS Start*@
    @RenderSection("headRefJS", false)
    @Scripts.Render("~/bundles/jquery")
    @{ Html.RenderPartial("_CommonGlobalVariables"); }
    @*End reference javascripts, pass by section headRefJS End*@


    @*Start head javascripts, pass by section headScripts Start*@
    @if (IsSectionDefined("headScripts"))
    {
        @RenderSection("headScripts", false)
    }
    else
    {

    }
    @*End head javascripts, pass by section headScripts End*@


    @*Start Common head tracking scripts, pass by section commonHeadTracking Start*@
    @if (IsSectionDefined("commonHeadTracking"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("commonHeadTracking", false)
    }
    else
    {
        Html.RenderPartial("_CommonHeadTracking");
    }
    @*End Common head tracking scripts, pass by section commonHeadTracking End*@


    @*Start Each page's head tracking scripts, pass by section headJSTracking Start*@
    @RenderSection("headJSTracking", false)
    @*End Each page's head tracking scripts, pass by section headJSTracking End*@
</head>
<body>
    @*Start Each page's javascripts at top of body, pass by section bodyStartRefJS and bodyStartScript Start*@
    @RenderSection("bodyStartRefJS", false)
    @RenderSection("bodyStartScript", false)
    @*End Each page's javascripts at top of body, pass by section bodyStartRefJS and bodyStartScript End*@


    @*Start Common tracking scripts at top of body, pass by section commonBodyTracking and trackingScripts Start*@
    @if (IsSectionDefined("commonBodyTracking"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("commonBodyTracking", false)
    }
    else
    {
        Html.RenderPartial("_CommonBodyTracking");
    }
    @RenderSection("bodyStartJSTracking", false)
    @*End Common body tracking scripts at top of body, pass by section commonBodyTracking and trackingScripts End*@



    @*Start Header, pass by section addToHeader Start*@
    @if (IsSectionDefined("addToHeader"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("addToHeader", false)
    }
    else
    {
        Html.RenderPartial("_Header");
    }
    @*End Header, pass by section addToHeader End*@



    @*Start Topper, pass by section addToTopper Start*@
    @if (IsSectionDefined("addToTopper"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("addToTopper", false)
    }
    else
    {
        Html.RenderPartial("_Topper");
    }
    @*End Topper, pass by section addToTopper End*@

    @*Start Body Start*@
    @RenderBody()
    @*End Body End*@


    @*Start Bottomer, pass by section addToBottomer Start*@
    @if (IsSectionDefined("addToBottomer"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("addToBottomer", false)
    }
    else
    {
@*@Html.Action("index", "Bottomer", new {advId=28 })*@
        Html.RenderPartial("_Bottomer");
    }
    @*End Bottomer, pass by section addToBottomer End*@



    @*Start Footer, pass by section addToFooter Start*@
    @if (IsSectionDefined("addToFooter"))
    {
@*Just remember that you need to use the @RenderSection() syntax (you need the @ character) so that the contents of the section is actually printed to the output.*@
        @RenderSection("addToFooter", false)
    }
    else
    {
        Html.RenderPartial("_Footer");
    }
    @*End Footer, pass by section addToFooter End*@



    @*Start Whole site's javascripts at bottom of body Start*@
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    @*End Whole site's javascripts at bottom of body End*@

    @*Start Each page's javascripts at bottom of body, pass by section refScripts and scripts Start*@
    @Scripts.Render("~/bundles/netw-newegg")
    @RenderSection("refScripts", false)
    @RenderSection("scripts", false)
    @{ Html.RenderPartial("_CommonBodyScripts"); }
    @*End Each page's javascripts at bottom of body, pass by section refScripts and scripts End*@


    @*Start Common tracking scripts at bottom of body, pass by section trackingScripts Start*@
    @RenderSection("trackingScripts", false)
    @*End Common body tracking scripts at bottom of body, pass by section trackingScripts End*@
</body>
</html>
