@model TWNewEgg.API.Models.ItemSketch_ItemCategory
@{
    Layout = null;
}
<style>
   .ItemCreateTableTitle {width: 90px; min-width: 90px; text-align: right;vertical-align: top;padding-right: 10px;}
</style>

<tr>
	<td class="ItemCreateTableTitle"><span style="color:red">* </span>商品主分類:</td>
    @{
        if (ViewBag.ActionType != (int)TWNewEgg.API.View.ItemCreationVM.GetActionType.TempEdit)
        {
	        <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer0")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("MasterLayer");
                        });

                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer0')" })
                    .Value((Model.MainCategoryID_Layer0 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer0.ToString())
                )
	        </td>
	        <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer1")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("filterSecondLayer");
                        })
                        .ServerFiltering(true);
                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer1')" })
                    .AutoBind(false)
                    .CascadeFrom("MainCategoryID_Layer0")
                    .Value((Model.MainCategoryID_Layer1 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer1.ToString())
                )
	        </td>
	        <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer2")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("thridLayer");
                        })
                        .ServerFiltering(true);

                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer2')" })
                    .AutoBind(false)
                    .CascadeFrom("MainCategoryID_Layer1")
                    .Value((Model.MainCategoryID_Layer2 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer2.ToString())
                )
	        </td>
        }
        else
        {
            <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer0")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("MasterLayer");
                        });

                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer0')" })
                    .Enable(false)
                    .Value((Model.MainCategoryID_Layer0 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer0.ToString())
                )
	        </td>
	        <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer1")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("filterSecondLayer");
                        })
                        .ServerFiltering(true);
                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer1')" })
                    .AutoBind(true)
                    //.CascadeFrom("MainCategoryID_Layer0")
                    .Enable(false)
                    .Value((Model.MainCategoryID_Layer1 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer1.ToString())
                )      
	        </td>
	        <td style="width:170px;">
		        @(Html.Kendo()
                    .DropDownList()
                    .Name("MainCategoryID_Layer2")
                    .OptionLabel("請選擇")
                    .DataTextField("Description")
                    .DataValueField("CategoryID")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ModifyQueryCategory", "ItemDetailEdit")
                                .Data("thridLayer");
                        })
                        .ServerFiltering(true);

                    })
                    .HtmlAttributes(new { onchange = "CategoryValueReset('MainCategoryID_Layer2')" })
                    .AutoBind(true)
                    //.CascadeFrom("MainCategoryID_Layer1")
                    .Enable(false)
                    .Value((Model.MainCategoryID_Layer2 ?? 0).ToString() == "0" ? "": Model.MainCategoryID_Layer2.ToString())
                )
	        </td>
        }
    }
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="ItemCreateTableTitle">商品跨分類:</td>
	<td>&nbsp;</td>
	<td>
		@(Html.Kendo()
            .DropDownList()
            .Name("SubCategoryID_1_Layer1")
            .OptionLabel("請選擇")
            .DataTextField("Description")
            .DataValueField("CategoryID")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("ModifyQueryCategory", "ItemDetailEdit")
                    .Data("filterSecondLayer");
                })
                .ServerFiltering(true);
            })
            .HtmlAttributes(new { onchange = "CategoryValueReset('SubCategoryID_1_Layer1')" })
            .AutoBind(false)
            .CascadeFrom("MainCategoryID_Layer0")
            .Value((Model.SubCategoryID_1_Layer1 ?? 0).ToString() == "0" ? "": Model.SubCategoryID_1_Layer1.ToString())
        )
	</td>
	<td>
		@(Html.Kendo()
            .DropDownList()
            .Name("SubCategoryID_1_Layer2")
            .OptionLabel("請選擇")
            .DataTextField("Description")
            .DataValueField("CategoryID")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("ModifyQueryCategory", "ItemDetailEdit")
                    .Data("SubCategoryID_1_Layer2ThridSelect");
                })

                .ServerFiltering(true);
            })
            .HtmlAttributes(new { onchange = "CategoryValueReset('SubCategoryID_1_Layer2')" })
            .AutoBind(false)
            .CascadeFrom("SubCategoryID_1_Layer1")
            .Value((Model.SubCategoryID_1_Layer2 ?? 0).ToString() == "0" ? "": Model.SubCategoryID_1_Layer2.ToString())
        )
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="SubCategoryID_1_Layer2" role="alert" id="errSubCategoryID_1_Layer2Msg" style="display:none;"><span class="k-icon k-warning"> </span> 不可選擇同分類</span>
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="SubCategoryID_1_Layer2" role="alert" id="emptySubCategoryID_1_Layer2Msg" style="display:none;"><span class="k-icon k-warning"> </span> 不可為空</span>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>
		@(Html.Kendo()
            .DropDownList()
            .Name("SubCategoryID_2_Layer1")
            .OptionLabel("請選擇")
            .DataTextField("Description")
            .DataValueField("CategoryID")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("ModifyQueryCategory", "ItemDetailEdit")
                    .Data("filterSecondLayer");
                })

                .ServerFiltering(true);
            })
            .HtmlAttributes(new { onchange = "CategoryValueReset('SubCategoryID_2_Layer1')" })
            .AutoBind(false)
            .CascadeFrom("MainCategoryID_Layer0")
            .Value((Model.SubCategoryID_2_Layer1 ?? 0).ToString() == "0" ? "": Model.SubCategoryID_2_Layer1.ToString())
        )      
	</td>
	<td>
		@(Html.Kendo()
            .DropDownList()
            .Name("SubCategoryID_2_Layer2")
            .OptionLabel("請選擇")
            .DataTextField("Description")
            .DataValueField("CategoryID")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("ModifyQueryCategory", "ItemDetailEdit")
                    .Data("SubCategoryID_2_Layer2ThridSelect");
                })

                .ServerFiltering(true);
            })
            .HtmlAttributes(new { onchange = "CategoryValueReset('SubCategoryID_2_Layer2')" })
            .AutoBind(false)
            .CascadeFrom("SubCategoryID_2_Layer1")
            .Value((Model.SubCategoryID_2_Layer2 ?? 0).ToString() == "0" ? "": Model.SubCategoryID_2_Layer2.ToString())
        )
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="SubCategoryID_2_Layer2" role="alert" id="errSubCategoryID_2_Layer2Msg" style="display:none;"><span class="k-icon k-warning"> </span> 不可選擇同分類</span>
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="SubCategoryID_2_Layer2" role="alert" id="emptySubCategoryID_2_Layer2Msg" style="display:none;"><span class="k-icon k-warning"> </span> 不可為空</span>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<script type="text/javascript">
    $(function () {
        showProperty();
    });

	function MasterLayer() {
		return {
			parentID: 0,
			Layer: 0,
		};
	}

	function filterSecondLayer() {
		return {
			parentID: $("#MainCategoryID_Layer0").val(),
			Layer: 1,
		};
	}

	function thridLayer() {
		return {
			parentID: $("#MainCategoryID_Layer1").val(),
			Layer: 2,
		};
	}

	function showProperty(action) {
	    if (action == "Category") {
	        DataCheck("Category");
	    }
	    var actionType = $("#ActionType").val();
	    if (actionType == "1") {
	        jsonData = JSON.stringify({
	            "CategoryID": $("#MainCategoryID_Layer2").val(),
	            "ProductTempID": $("#ProductTempID").val(),
	        })
	    }
	    else {
	        jsonData = JSON.stringify({
	            "CategoryID": $("#MainCategoryID_Layer2").val(),
	            "ItemSketchID": $("#ItemSketchID").val(),
	        })
	    }
	    $.ajax({
	        type: "POST",
	        url: "/ItemDetailEdit/QueryProductProperty",
	        contentType: "application/json;charset=utf-8",
	        data: jsonData,
	        success: function (res) {
	            if (res.IsSuccess == true) {
	                $("#ProductProperty").html(res.ViewHtml);
	            }
	            else {
	                $("#ProductProperty").html("查無此類別屬性");
	            }
	        }
	    });
	}

	function SubCategoryID_1_Layer2ThridSelect() {
		return {
			parentID: $("#SubCategoryID_1_Layer1").val(),
			Layer: 2,
			categoryID: $("#SubCategoryID_1_Layer2").data("kendoDropDownList").value()
		};
	}

	function SubCategoryID_2_Layer2ThridSelect() {
		return {
			parentID: $("#SubCategoryID_2_Layer1").val(),
			Layer: 2,
			categoryID: $("#SubCategoryID_2_Layer2").data("kendoDropDownList").value()
		};
	}
	
	function CategoryValueReset(ResetLayer) {
	    switch (ResetLayer)
	    {
	        case "MainCategoryID_Layer0":
	            $("#MainCategoryID_Layer1").val("");
	            $("#MainCategoryID_Layer2").val("");
	            $("#SubCategoryID_1_Layer1").val("");
	            $("#SubCategoryID_1_Layer2").val("");
	            $("#SubCategoryID_2_Layer1").val("");
	            $("#SubCategoryID_2_Layer2").val("");
	            showProperty("Category");
	            break;
	        case "MainCategoryID_Layer1":
	            $("#MainCategoryID_Layer2").val("");
	            showProperty("Category");
	            break;
	        case "MainCategoryID_Layer2":
	            showProperty("Category");
	            break;
	        case "SubCategoryID_1_Layer1":
	            $("#SubCategoryID_1_Layer2").val("");
	            DataCheck("Category");
	            break;
	        case "SubCategoryID_1_Layer2":
	            DataCheck("Category");
	            break;
	        case "SubCategoryID_2_Layer1":
	            $("#SubCategoryID_2_Layer2").val("");
	            DataCheck("Category");
	            break;
	        case "SubCategoryID_2_Layer2":
	            DataCheck("Category");
	            break;
	    }
	}
</script>