@{
    string pageTitle = "忘記密碼";
    ViewBag.Title = pageTitle + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.errorMessage;
}

<div class="wrapper">
<div class="main">
    <div class="container">
        <form action="/myaccount/forgetpassword" method="post">
                    <div class="row show-grid">
                        <div class="col-xs-12">
                            <div class="topper">
                                <div class="title"><div class="text">@pageTitle</div></div>
                            </div>
                            <input type="text" id="email" name="email" class="form-control" placeholder="請輸入E-mail (新蛋帳號)">
                            @if (message != null && message != "請至信箱收信並點取連結修改新密碼")
                            {
                                <div class="help-block redtxt2">@(message)</div>
                            }
                            <input name="" type="submit" id="forgetsubmit" value="確認" class="btn btn-lg btn-block orangebg2 whitetxt">
                        </div>
                    </div>
        </form>
    </div>
</div><!-- /.main -->
</div><!-- /.wrapper -->

@section addToHeader{
    @Html.Partial("_HeaderNoCart")
}

@section styleSheets {
    @Styles.Render("~/Themes/css/bootstrap.css")
    @Styles.Render("~/Themes/css/mStyle.css")
    @Styles.Render("~/Themes/css/font-awesome/css/font-awesome.css")
}

@section scripts{
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
        });
        @if (message == "請至信箱收信並點取連結修改新密碼"){
            @Html.Raw(string.Format("alert(\"{0}\");", message));
            @Html.Raw("window.location.href = \"/Home\";");
        }
    </script>
}