@model Dictionary<string, string>
@{
    ViewBag.Title = "重設密碼" + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="topper">
                        <div class="title">
                            <div class="text">忘記密碼</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="form-group input-group">
                        <span class="redtxt">&nbsp;</span>
                        <input type="password" name="PWD" id="NewPassword" onkeyup="VerifyPwdRule(this.value,'@(Model["body"])');" maxlength="16" tabindex="2" onfocus="VerifyPwdRule(this.value,'@(Model["body"])');" placeholder="6~16碼數字或英文字母混合" class="form-control"/>
                        <span class="input-group-btn">
                            <input type="button" value="隱藏密碼" id="hide_pwd" class="btn btn-default bluebg whitetxt show-grid5" style="display: none" />
                            <input type="button" value="顯示密碼" id="show_pwd" class="btn btn-default bluebg whitetxt show-grid5" />
                        </span>
                    </div>

                    <div class="ApswRuleBox" id="ShowPasswordRule">
                        <ul class="list-unstyled">
                            為保證您的個資安全，請確認您的密碼必須符合以下條件：
                            <li><input id="pwdcheck_email" class="pwdcheck" type="checkbox" disabled />帳密不得相同</li>
                            <li><input id="pwdcheck_length" class="pwdcheck" type="checkbox" disabled />密碼長度為6~16個字元</li>
                        </ul>
                    </div>
                    <div id="showResult" class="pswSecure" style="display: none">
                        <p>密碼強度</p>
                    </div>
                    <div class="redtxt2"><span id="password_rules" style="display: none"></span></div>
                    <div id="rePwdTip">
                        <input type="password" name="PWDtxt" id="ConfirmNewPassword" maxlength="16" tabindex="3" placeholder="請再次輸入密碼" class="form-control" />
                        <span class="redtxt2" id="PassWordRuleSay" style="display: none">確認密碼與密碼不一致，請重新輸入</span>
                    </div>

                    <br/>
                    <input id="SendConfirmation" type="button" value="確認" class="btn btn-lg btn-block orangebg2 whitetxt" />

                </div>
            </div>

        </div>
    </div>
    <!-- /.main -->
</div>
<!-- /.wrapper -->

@*訊息彈出視窗*@
<div class="modal fade" id="popModal" tabindex="-1" role="dialog" aria-labelledby="popModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h3 class="modal-title text-center" id="myModalLabel"></h3>
                    <br>
                    <br>
                    <div class="col-xs-12">
                        <button id="btnOK" type="button" class="btn btn-lg btn-block orangebg2 whitetxt" onclick="window.location.href = '/Home';">確定</button>
                    </div>
                    <div class="col-xs-12">
                        <button id="btnCancel" type="button" class="btn btn-lg btn-block orangebg2 whitetxt" onclick="$('#popModal').modal('hide')">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addToHeader{
    @Html.Partial("_HeaderNoCart")
}

@section styleSheets {
    @Styles.Render("~/Themes/css/bootstrap.css")
    @Styles.Render("~/Themes/css/mStyle.css")
    @Styles.Render("~/Themes/css/font-awesome/css/font-awesome.css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <style>
        .pswSecure {
            position: absolute;
            top: 60px;
            left: 28px;
            width: 25%;
        }

            .pswSecure p {
                width: 0;
                height: 2px;
                background: #f00;
                text-indent: -9999px;
                letter-spacing: -999px;
                font-size: 0;
                color: #fff;
            }

            .pswSecure.step1 p {
                width: 33%;
            }

            .pswSecure.step2 p {
                width: 66%;
            }

            .pswSecure.step3 p {
                width: 100%;
                background: green;
            }
    </style>
}

@section scripts{
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/Scripts/TWEC/AccountVerify.js")
    <script>
        @*檢查密碼是否符合要求格式*@
        $("#NewPassword").blur(function () {
            NewPassword();
        });
        $("#NewPassword").keyup(function () {
            NewPassword();
        });
        $("#NewPassword").focus(function () {
            $("#ShowPasswordRule").css('display', 'block');
            NewPassword();
        });

        @*檢查密碼與確認密碼是否相同*@
        $("#ConfirmNewPassword").blur(function () {
            ConfirmNewPassword();
        });

        // 顯示&隱藏密碼的事件
        $("#show_pwd").click(function () {
            $("#NewPassword").attr('type', 'text');
            $("#show_pwd").css('display', 'none');
            $("#hide_pwd").css('display', 'block');
        });
        $("#hide_pwd").click(function () {
            $("#NewPassword").attr('type', 'password');
            $("#show_pwd").css('display', 'block');
            $("#hide_pwd").css('display', 'none');
        });

        // 確認鍵
        $("#SendConfirmation").click(function () {
            if (Judge()) {
                var ModelDetail = {
                    "email": "@(Model["body"])",
                    "trick": "@(Model["head"])",
                    "password": $("#NewPassword").val(),
                    "confirmPWD": $("#ConfirmNewPassword").val()
                }
                var json = JSON.stringify(ModelDetail);
                $.ajax({
                    url: "/MyAccount/ResetPassword",
                    contentType: "application/json;charset=utf-8",
                    data: json,
                    method: 'POST',
                    dataType: "Json",
                    success: function (res) {
                        console.log(res);
                        if (res.Status == 0) {
                            ShowSuccessMsg(res.Message);
                        }
                        else {
                            ShowErrorMsg(res.Message);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                        ShowErrorMsg("系統異常，請聯絡客服人員！");
                    }
                });
            } else {
                ShowErrorMsg("資料填寫不正確！");
            }
        });

        // 彈出成功訊息, 之後跳轉首頁.
        function ShowSuccessMsg(msg) {
            $("#myModalLabel").html(msg);
            $("#btnCancel").hide();
            $("#btnOK").show();
            $('#popModal').modal('show');
        }

        // 彈出錯誤訊息, 繼續停留本頁.
        function ShowErrorMsg(msg) {
            $("#myModalLabel").html(msg);
            $("#btnCancel").show();
            $("#btnOK").hide();
            $('#popModal').modal('show');
        }

        // 彈出視窗使用
        $(function () {
            function reposition() {
                var modal = $(this),
                    dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');

                // Dividing by two centers the modal exactly, but dividing by three 
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            }
            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function () {
                $('.modal:visible').each(reposition);
            });
        });

        // 檢查輸入資料.
        function Judge() {
            if (NewPassword() && ConfirmNewPassword()) {
                return true;
            }
            else {
                return false;
            }
        }

        function NewPassword() {
            var result = true;
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            var EmailAccount = "@(Model["body"])";

            $(".pwdcheck").each(function () {
                $(this).prop('checked', true);
            });
            $("#password_rules").text("");


            if ((password.length < 6 && password != "" && password != null) || password == "") {
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").text("");
                $("#password_rules").text("密碼長度不可小於六碼");
                $("#password_rules").css('display', '');
                $("#pwdcheck_length").prop('checked', false);
                result = false;
            }

            if (!VerifyPwdRule(password, EmailAccount) && password != "" && password != null) {
                $("#password_rules").text("");
                $("#password_rules").text("密碼格式錯誤");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").css('display', '');
                $("#pwdcheck_numeric").prop('checked', false);
                result = false;
            }

            if (password == EmailAccount) {
                $("#password_rules").text("");
                $("#password_rules").text("帳密不得相同");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus');
                $("#password_rules").css('display', '');
                $("#pwdcheck_email").prop('checked', false);
                result = false;
            }


            if (account_confirmpassword != "" && account_confirmpassword == "undefined") {
                if (password == account_confirmpassword) {
                    //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                    $("#PassWordRuleSay").hide();
                }
                else {
                    $("#PassWordRuleSay").show();
                    result = false;
                }
            }
            return result;
        }

        function ConfirmNewPassword() {
            var result = true;
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            if (password != account_confirmpassword && password != "" && account_confirmpassword != "" && password != "undefined" && account_confirmpassword != "undefined") {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").show();
                result = false;
            }
            else if (password == account_confirmpassword) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                $("#PassWordRuleSay").hide();
            }
            else if (account_confirmpassword == "" || account_confirmpassword == null) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").hide();
            }
            return result;
        }
    </script>
}