@using TWNewEgg.Models.DomainModels.Home
@model WindowBlock
@if (Model != null && Model.CellList.Count >= 3)
{
    ViewBag.LayoutNumber = Model.LayoutNumber;
    string cssType = !string.IsNullOrEmpty((string)ViewData["cssType"]) ? (string)ViewData["cssType"] : "1";
    
    <div class="@HomeShareFuns.GenerateBoxStyleClass("box5", Model.CellList[0].Type, cssType)">
        @Html.Partial("Cell/Partial_Cell" + Model.CellList[0].Type, Model.CellList[0])       
    </div>
    <div class="@HomeShareFuns.GenerateBoxStyleClass("box5", Model.CellList[1].Type, cssType)">
        @Html.Partial("Cell/Partial_Cell" + Model.CellList[1].Type, Model.CellList[1])       
    </div>
    <div class="@HomeShareFuns.GenerateBoxStyleClass("box6", Model.CellList[2].Type, cssType)">
        @Html.Partial("Cell/Partial_Cell" + Model.CellList[2].Type, Model.CellList[2])       
    </div>
}