@model Dictionary<int, object>
@{
    ViewBag.Title = "最美好的禮物";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityGroup objGroup = null;
    List<TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityItems> listVotingItems = null;
    Dictionary<int, TWNewEgg.Models.DomainModels.Item.ItemInfo> dictItemInfos = null;
    Dictionary<int, string> dictItemImgUrlResult = null;
    string strImgUrl = "";
    string strItemName = "";
    int numVotingCount = 0;
    DateTime dateNow = DateTime.Now;
    TWNewEgg.Models.DomainModels.Item.ItemInfo objItemInfo = null;
    
    if (Model != null)
    {
        //Group
        if (Model.ContainsKey(0) && Model[0] != null)
        {
            objGroup = (TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityGroup)Model[0];
        }
        
        //List of VotingItems
        if (Model.ContainsKey(1) && Model[1] != null)
        {
            listVotingItems = (List<TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityItems>)Model[1];
        }
        
        //Item Info
        if (Model.ContainsKey(2) && Model[2] != null)
        {
            dictItemInfos = (Dictionary<int, TWNewEgg.Models.DomainModels.Item.ItemInfo>)Model[2];
        }
        
        //Item Img Url
        if (Model.ContainsKey(3) && Model[3] != null)
        {
            dictItemImgUrlResult = (Dictionary<int, string>)Model[3];
        }
    }
    else
    {
        objGroup = new TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityGroup();
        objGroup.Id = 0;
        objGroup.OnlineStatus = 0;
        objGroup.DisplayStartDate = Convert.ToDateTime("1970/1/1");
        objGroup.DisplayEndDate = Convert.ToDateTime("1970/1/1");
    }
    
}

@section metaTags{
    <meta property="fb:admins" content="100006308281958" />
    <meta property="fb:app_id" content="695768887110336"/>
    <meta property="og:url" content="https://secure.newegg.com.tw/VotingActivity/ShareGift_0807" />
    <meta property="og:title" content="分享最美好的禮物" />
    <meta property="og:description" content="分享最美好的禮物" />
    <meta property="og:image" content="https://secure.newegg.com.tw/img/Act/sharegift_0807/FBShare.jpg" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="newegg.com.tw"/>
}
@section styleSheets {
    @Styles.Render("~/content/css/Act")
    @* css style寫這邊 *@
    <style>
        html {min-width:1230px;}
        body{
	        background: url("/img/Act/sharegift_0807/Bg.jpg") no-repeat top center;
	        background-color: #ffedc6;
	        font-family: arial, "微軟正黑體";
	        color:#58595b;
        }
        a img { border: 0; }
        .Floor-1,.Floor-2,.Floor-3,.NotesRules,.Inside{
	        width:1230px;
	        margin:0 auto; 
        }
        /*樓層，包含banner亦為一個樓層*/
        .Floor-1{
	        height:515px;
	        background: url("/img/Act/sharegift_0807/Bg_01.png") no-repeat top center;
        }
        .Floor-2{
	        height:596px; 
	        background: url("/img/Act/sharegift_0807/Bg_02.png") no-repeat top center;
        }
        .Floor-3{
	        min-height:250px;
	        background: url("/img/Act/sharegift_0807/Bg_03.png") no-repeat top center;
        }

        /*當背景寬100%時，用此來抓內容的1004寬*/
        .Inside{
	        position:relative;
	        clear:both;
        }
        /*注意事項與規則*/
        .NotesRules{
	        color:#295a95;
        }
        .NotesRules p{
	        margin:10px 0;
	        font-size:18px;
	        padding-top:20px;
        }
        .NotesRules li{
	        font-size:15px;
	        line-height:20px;
	        list-style-type:decimal;
	        margin:5px 0;
        }
        /*基本商品方框CSS*/
        .itemBox{
	        width:225px;
	        height: 256px;
	        margin-left:50px;
	        float: left;
            margin-top:10px;
            margin-bottom: 10px;
        }
        .itemBox .pic{
	        width: 200px;
	        height: 135px;
	        overflow: hidden;
            text-align: center;
        }
        .itemBox .pic img{
	        height: auto;
	        max-width: 200px;
	        max-height: 135px;
        }
        a{
	        color:inherit;
	        text-decoration: none;
        }
        .txt{
	        height: 70px;
        }
        .txt h3{
	        font-size: 18px;
	        line-height: 20px;
	        color:#595757;
	        margin:0;
	        overflow: hidden;
	        text-overflow: ellipsis;
	        display: -webkit-box;
	        -webkit-line-clamp: 1;
	        -webkit-box-orient: vertical;
            margin: 5px 0;
        }
        hr{
	        margin:5px 0 20px 0;
	        height: 1px;
	        border: none;
	        background-color: #58595b;

        }
        .txt .Quantity{
	        color:#58595b;
        }
        .txt .Vote{
	        float: right;
	        width: 94px;
	        height: 29px;
	        background: url("/img/Act/sharegift_0807/Vote.png") no-repeat center;
	        cursor: pointer;
	        border: none;
            outline:none;
        }


        /*文字方塊*/
        .Word,.Link,.Media{
	        position: absolute;
	        display: block;
        }
        .Media{
	        width: 458px;
	        height: 258px;
	        top: 174px;
	        left: 678px;
        }
        .GiftBox{
	        border: 1px solid #58595b;
	        width: 1123px;
	        margin:20px auto;
        }
        .FBMsg{
	        border: 1px dashed #6d6e71;
	        background-color: #fff;
	        width: 1123px;
	        /*height: 125px;*/
	        display: block;
	        resize: none;
	        margin: 0 auto; 
	        margin-top: 10px;
        }

        /*影片下方四連結*/
        .FourLink {
            display:block;
            width:150px;
            height:45px;
            position:absolute;
            bottom:37px;
            text-indent:-500px;
            overflow: hidden;
        }
.LightBoxUnderLay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.5);
    z-index:100;
}
.LightBoxMsg{display:none;position:fixed;background-color:#fff;}
.Stlye-2{
    top:50%;
    left:50%;
    width: 650px;
    height: 300px;
    line-height: 25px;
    margin-left:-400px;
    margin-top:-200px;
    padding:50px;
    border:8px solid #000;
    border-radius:15px;
}
.CloseBtn{
    position:absolute;
    cursor:pointer;
    top:10px;
    right:10px;
    width:33px;
    height:33px;
    border:0;
    background: url(/Themes/img/CloseBtn.png) no-repeat center;
}
.MsgContent{
    font-size:25px;
    text-align:center;
    line-height:50px;
}
.NewShare {
    text-align: center;
    width: 200px;
    font-weight: bolder;
    color: #FF3C3C;
    font-size: 17px;
    line-height: 2;
}
    </style>
}
<!-- start 活動內容 -->
<div class="content">

    <!--第一樓層-->
    <div class="Floor-1">
        <div class="Inside" style="height:100%;">
            <img class="Word" style="top:103px;left:60px;" src="/img/Act/sharegift_0807/Word_01.png">
            <div class="Media"><iframe width="458" height="258" src="https://www.youtube.com/embed/n2TOkAqSG8E" frameborder="0" allowfullscreen></iframe></div>
            <img class="Word" style="top:438px;left:618px;" src="/img/Act/sharegift_0807/Word_02.png">
            <a class="FourLink" onclick="ShowMsg()" style="right:494px;">入會拿好禮</a>
            <a id="tabToAward" class="FourLink" href="#awardArea" style="right:346px;">分享抽購物金</a>
            <a id="tabToAward2" class="FourLink" href="#awardArea" style="right:230px;width:110px;">票選得大獎</a>
            <a class="FourLink" href="/act/wonderfulworld_0801" target="_blank" style="right:70px;">最美好的禮物</a>
        </div>
    </div>
<!--重複背景-->
<div style="background:url(/img/Act/sharegift_0807/reBG.png) repeat-y center;">
    <!--第二樓層-->
    <div class="Floor-2">
        <div class="Inside">
            <img class="Word" style="top:20px;left:110px;" src="/img/Act/sharegift_0807/Word_03.png">
            <a class="Link" style="top:210px;left:305px;" href="###"><img src="/img/Act/sharegift_0807/InjoyNewEgg.png" id="btn_JoinUs"></a>
            <a href="#NotesRules"><img class="Word" style="top:130px;left:600px;border:0px;" src="/img/Act/sharegift_0807/Word_04.png"></a>
            <a class="Link" style="top:420px;left:870px;" href="#FBMsg" id="IWantLeaveMsg"><img src="/img/Act/sharegift_0807/LeaveMsg.png"></a>
        </div>
    </div>

    <!--第三樓層-->
    @if (objGroup.OnlineStatus == 0 || DateTime.Now < objGroup.DisplayStartDate || DateTime.Now > objGroup.DisplayEndDate)
    {
        <div class="Floor-3">
        <div class="Inside">
            <a href="#NotesRules"><img style="margin-left:40px;border:0px;" src="/img/Act/sharegift_0807/Word_05.png"></a>
        </div>
        </div>
    }
    else
    {
    <div class="Floor-3">
        <div class="Inside">
            <img style="margin-left:40px;" src="/img/Act/sharegift_0807/Word_05.png">
            <a href="#NotesRules" style="position:absolute;top:130px;left:440px;display:block;width:100px;height:30px;" target="_self"></a>
            <div class="GiftBox">
                <!--投票商品區格-->
                @if (listVotingItems != null && listVotingItems.Count > 0)
                {
                    foreach (TWNewEgg.Models.ViewModels.VotingActivity.VotingActivityItems objSubVotingItem in listVotingItems)
                    {
                        numVotingCount = 0;
                        strImgUrl = "";
                        objItemInfo = null;
                        strItemName = "";
                        
                        //取得ImgUrl
                        if (dictItemImgUrlResult != null && dictItemImgUrlResult.ContainsKey(objSubVotingItem.ItemId) && dictItemImgUrlResult[objSubVotingItem.ItemId] != null)
                        {
                            strImgUrl = (string)dictItemImgUrlResult[objSubVotingItem.ItemId];
                        }
                        //取得商品說明
                         if (objSubVotingItem.Description != null && objSubVotingItem.Description.Length > 0)
                        {
                            strItemName = objSubVotingItem.Description;
                        }
                        else if (dictItemInfos != null && dictItemInfos.ContainsKey(objSubVotingItem.ItemId) && dictItemInfos[objSubVotingItem.ItemId] != null)
                        {
                            objItemInfo = (TWNewEgg.Models.DomainModels.Item.ItemInfo)dictItemInfos[objSubVotingItem.ItemId];
                            strItemName = objItemInfo.ItemBase.Name;
                        }
                        else
                        {
                            strItemName = "";
                        }
                        //取得顯示票數
                        if (objSubVotingItem.VotingStartDate > dateNow)
                        {
                            numVotingCount = 0;
                        }
                        else
                        {
                            numVotingCount = objSubVotingItem.InitVoting + objSubVotingItem.SystemVoting + objSubVotingItem.RealVoting;
                        }

                        
                        <div class="itemBox" itemID="@objSubVotingItem.ItemId">
                            @Html.Raw("<p class='NewShare'>" + @objSubVotingItem.Title + "</p>")
                            <div class="pic"><a href="/item?ItemId=@objSubVotingItem.ItemId"><img class="BigImg" src="@strImgUrl" alt="@strItemName" title="@strItemName"/></a></div>
                            <div class="txt">
                                @Html.Raw("<h3 title='" + strItemName + "'>" + strItemName + "</h3>")
                                <hr noshade="noshade"/>
                                @Html.Raw("<span class='Quantity'>" + Convert.ToString(numVotingCount) + "</span>票")
                                <input type="button" class="Vote" VoteId="@objSubVotingItem.ItemId">
                            </div>
                        </div>
                    }
                }
                
                
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    }
    
    <div class="FBMsg" id="FBMsg" name="FBMsg">
        <div id="fb-root"></div>
        <div class="fb-comments" data-href="https://secure.newegg.com.tw/VotingActivity/ShareGift_0807" data-width="1120" data-numposts="3"></div>
    </div>
</div>
<div style="background:url(/img/Act/sharegift_0807/Bg_03.png) no-repeat bottom center;margin:0 auto;width:1230px;height:130px;"></div>

    <!--注意事項與規則-->
    <div class="NotesRules" id="NotesRules" name="NotesRules">
        <div class="Inside">
            <p>注意事項與規則</p>
                <ul>
                    <li>活動期間內（2015/08/07-31）註冊成功為新蛋全球生活網新會員，即可獲得折價券150元，每個帳號限參加一次。折價券有效期限至2015/9/30(逾期失效，恕不補發)。</li>
                    <li>2015/8/12-21期間，於本活動頁下方以Facebook帳號留言「世界因分享而美好」(須設公開權限)並Tag3位(含)以上的朋友，即可參加500元購物金抽獎。</li>
                    <li>承上，500元購物金使用期限至2015/12/31，共抽出50名，9/5前公布得獎名單。</li>
                    <li>「票選禮物，大獎等你拿」活動，每帳號每天限投1票，每樣品項會由投票者中抽出1名作為得獎者，總共將抽出8名。9/5前公布得獎名單，中獎者須於9/10前回覆確認資料，逾期視同放棄中獎資格。獎項會於9/10起陸續寄出，預計寄出後一週內可配達。</li>
                    <li>本活動限主辦單位註冊之會員方可參加，參加者暨得獎者皆須完整填具會員資料含姓名、電話、地址以確保獲獎權益。會員資料請於「我的帳戶」的「<a href="/MyAccount/EditPersonInfo">帳戶管理_個人資料修改</a>」中進行維護。</li>
                    <li>參加者若有資格不符或在公布得獎以後取消訂單、退貨視同放棄中獎資格，主辦單位將抽出其他得獎者進行遞補。主辦單位保留得以更換/遞補名單之權利。</li>
                    <li>為公平起見，新蛋集團之員工暨配偶與直系親屬、家屬皆不得參加本活動，如有違反情事，將取消其得獎資格。</li>
                </ul>

            <p>參加前同意事項：</p>
                <ul>
                    <li>消費者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反，主辦單位得取消其參加及得獎資格，並得就因此所產生之損害，向參加者請求損害賠償。</li>
                    <li>主辦單位將會向您索取個人資料(包括但不限於姓名、身分證字號、電話、地址與e-mail)，參加者同意提供之個人資料僅做為獎項寄送與開立(免)扣繳憑證之用。</li>
                    <li>參加本活動之參加者就所提供之個人資料，依個人資料保護法規定得行使查獲請求閱覽、請求製給複製本、請求補充或更正、停止蒐集、處理或利用以及請求刪除之權利。惟依法主辦單位因執行業務所必須者，得不依參加者請求為之。故參加者若在活動期間請求刪除個資，請詳述所要停止或刪除的個人資料，並說明您與主辦單位所締結的服務，以便依此要求妥善處理您的個資，避免不必要的延誤，資料刪除後您同時喪失參與活動與中獎的資格。</li>
                    <li>本活動僅限居住於台灣本島之中華民國國民參加，獎項寄送地址限於台灣本島。</li>
                    <li>本活動如有任何因為電腦、網路、電話或其他不可歸責於主辦單位之事由，造成系統誤送活動訊息或中獎通知，或者使參加人或中獎人所寄出或登錄之資料有延遲、遺失、錯誤、無法辨識或毀損之情況，主辦單位不負任何法律責任，參加者亦不得因此異議。</li>
                    <li>本活動如因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動。</li>
                </ul>

            <style>
                .awardTableBox {
                    float:left;
                    margin:10px 50px;
                }
                .awardTit {
                    font-weight:bold;
                    text-align:center;
                    line-height:1.5em;
                }
                .awardTable {
                }
                .awardTable th,td {
                    padding:2px 10px;
                    border:1px solid #295a95;
                    line-height:1.4em;
                }
                .awardTable th {
                    font-weight:bold;
                    background:#cee;
                }
            </style>
            
            <div id="awardArea" class="awardTableBox">
                <p class="awardTit">分享最美好的禮物 8/18-31看影片投票抽最美好的禮物<br />中獎名單</p>
                <table class="awardTable">
                <tr>
                    <th>獲得獎項</th>
                    <th>投票日期</th>
                    <th>得獎者會員帳號（E-mail）</th>
                </tr>
                <tr>
                    <td>iPad mini 3<br />金色16G</td>
                    <td>2015/8/28</td>
                    <td>s517.mymXXX@msa.hinet.net</td>
                </tr>
                <tr>
                    <td>Roman<br />天使祝福木相框</td>
                    <td>2015/8/22</td>
                    <td>71yXXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>CHANSON<br />立式健身車</td>
                    <td>2015/8/21</td>
                    <td>a19890XXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>Unit Portables<br />電腦肩背包</td>
                    <td>2015/8/28</td>
                    <td>azzhang1XXX@gmail.com</td>
                </tr>
                <tr>
                    <td>天然熟成<br />蜂蜜禮盒組</td>
                    <td>2015/8/29</td>
                    <td>phili78XXX@gmail.com</td>
                </tr>
                <tr>
                    <td>BLUNT<br />抗強風多功能雨傘</td>
                    <td>2015/8/27</td>
                    <td>lehaeXXX@gmail.com</td>
                </tr>
                <tr>
                    <td>ASUS ZenFone 2紅色</td>
                    <td>2015/8/22</td>
                    <td>eming0XXX@gmail.com</td>
                </tr>
                <tr>
                    <td>Jo Malone香水<br />鈴蘭與長春藤</td>
                    <td>2015/8/30</td>
                    <td>881113mXXX@gmail.com</td>
                </tr>
            </table>
            </div>

            <div class="awardTableBox">
                <p class="awardTit">8/12-8/21 Facebook留言抽500元購物金<br />中獎名單</p>
                <table class="awardTable">
                <tr>
                    <th>獲得獎項</th>
                    <th>FB留言帳號</th>
                    <th>得獎者會員帳號（E-mail）</th>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Mi H○○○</td>
                    <td>himalikXXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>王○瑩</td>
                    <td>a19890XXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>郭○奇</td>
                    <td>bats-chXXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Ed○○○ Wang</td>
                    <td>edwin19901XXX@hotmail.com</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>W○○○○am Tsai</td>
                    <td>willXXX@speedace.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>吳○慈</td>
                    <td>tzX@Xl.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>曾○皓</td>
                    <td>curious82XXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>N○○lle Tseng</td>
                    <td>loveforever2XXX@gmail.com</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Cheng○○ Yang</td>
                    <td>my12XXX@gmail.com</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Ja○○○ Lin</td>
                    <td>jasonlinXXX@ms96.url.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Bin○○○ Lin</td>
                    <td>my1231.mXXX@msa.hinet.net</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Os○○○ Lin</td>
                    <td>oscarlinXXX@gmail.com</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>B○○ Chien</td>
                    <td>titXXX@seed.net.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>Vicky Chi</td>
                    <td>vicky5XXX@msn.com</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>林○昇</td>
                    <td>happy960XXX@yahoo.com.tw</td>
                </tr>
                <tr>
                    <td>500元購物金</td>
                    <td>詹○如</td>
                    <td>happy690XXX@yahoo.com.tw</td>
                </tr>
            </table>
            </div>
            <div class="clear"></div>

            <p>兌獎須知：</p>
                <ul>
                    <li>本活動結束後所進行之抽獎作業，會依照各活動得獎公告間，將得獎名單公布於該活動網頁，並以電子郵件專函通知(內附同意領獎回條及相關資料)會以電話通知確認身分，告知領獎方式。收到通知函後須填妥於同意領獎回條，並於9/10前寄送回函(以郵戳為憑)，若超時未收到回函者將視同放棄領獎資格，則由系統補抽獲獎名單，並公布於活動網站。</li>
                    <li>所有獎項之聯絡及寄送以得獎者於註冊會員時填寫之資料為準，參加者請務必確認資料填寫正確。若因資料填寫不實、不完整或不正確，導致無法聯繫通知或無法寄送或寄送錯誤，則視同放棄權益並應自負其責，將不補發或重寄，主辦單位將不另行通知。如經發現偽造資料取消抽獎資格。</li>
                    <li>本活動獎項以公佈於本網站上的資料為準，且以實物為準，得獎者不得要求將獎項折換現金、退換、轉售、交換等值商品。</li>
                    <li>本活動之贈品如因不可抗力之因素無法提供時，主辦單位保留有權更換其他等值獎項之權利。</li>
                    <li>得獎者於領獎時，另須檢附身分證影本以傳真或郵寄方式提供給主辦單位，以利兌獎手續。相關獎項兌贈使用方式請詳閱使用說明。獎項將直接寄送給得獎者，簽收即代表完成贈獎手續。</li>
                    <li>依中華民國稅法所規定，抽中獎項價值於1,001元至20,000元者免扣繳機會中獎所得稅，主辦單位將依法於2016年2月10日前將扣繳憑單寄發給得獎者以利申報。</li>
                    <li>依各類所得扣繳率標準之規定，中獎獎品價值超過20,000元(含)，其中獎者若為我國境內居住之個人或在我國境內有固定營業場所之營利事業，應扣繳10%機會中獎稅及繳交身分證影本。非我國境內居住之個人或在我國境內無固定營業場所之營利事業，中獎獎品價值應扣繳20%稅額。若得獎人須先扣繳稅額而不願繳納稅款者，視為放棄得獎資格。若有其他未盡事宜悉依稅法相關規定。</li>
                </ul>

            <p>操縱活動規範：</p>
                <ul>
                    <li>主辦單位有權檢視各活動參加者之活動參與行為及中獎情形是否涉及不法行為，如人為操縱活動抽獎結果、短時間內異常多筆註冊行為、透過任何電腦程式參與活動或以任何不正當的方式影響活動結果，活動參加者若因上述或其他不法行為所獲得之活動資格與獎項，主辦單位保有取消得獎資格的權利，並保留法律追訴權。</li>
                </ul>

            <p>折價券使用規範：</p>
                <ul>
                    <li>150元折價券為面額150*1張，購買商品之單價須滿1,000元(含)以上方可折抵、500元購物金商品為面額500*1張，購買商品之單價須滿2,000元(含)以上方可折抵。限單次全數使用完畢，每件商品限使用一張折價券。</li>
                    <li>折價券僅限原註冊會員，依「<a href="/MyAccount/Coupon">折價券使用說明</a>」於有效期限內（逾期失效，恕不補發），在新蛋全球生活網消費時使用，恕無法轉讓或合併，部分活動或商品無法折抵使用，亦無法折換現金、找零或交換其他商品及折換其他贈品，且無法抵扣物流、安裝、服務、稅賦等費用。</li>
                    <li>折價券之使用方式與注意事項，請參閱「<a href="/MyAccount/Coupon">我的帳戶>折價券>折價券使用說明</a>」。</li>
                    <li>專案活動及優惠方案（如其他折扣、滿額折、折價券）不可合併使用，會員若同時擁有兩種優惠，只能擇一進行折抵。（如該活動已有滿額折，則折價券無法使用），若使用折價券後取消訂單或退貨，恕不回補折價券。</li>
                    <li>折價券折抵部分不再另外開立發票，開立發票金額以該訂單「實際支付金額」計算。</li>
                    <li>獎品、商品顏色因電腦螢幕之設定會略有不同，以實際出貨商品顏色為準。</li>
                </ul>

            <p>其他：</p>
                <ul>
                    <li>主辦單位保有修改或變更活動方式及更換活動獎項之權利，其他變更內容與注意事項請以本活動頁為準，若有異動及修改，將在本網站上公布，恕不另行個別通知。其他注意事項請詳見各活動頁及會員中心等說明。</li>
                    <li>若您有任何疑問，<a href="mailto:service@newegg.com.tw">歡迎來信至service@newegg.com.tw</a>，我們將於1～2日內（不含例假日）以E-mail回覆您，或請於上班時間（8:30～17:30）來電（02-8170-6025）。</li>
                    <li>再次感謝您對新蛋全球生活網的支持，祝您購物愉快，謝謝！</li>
                </ul>
        </div>
    </div>
    
</div>

<!-- end 活動內容 -->
<!-- Lightbox -->
<div class="LightBoxUnderLay">
    <div class="LightBoxMsg Stlye-2" style="display: none;">
        <input type="button" class="CloseBtn" onclick="clseLightbox()">
        <div class="MsgContent">
            	活動已截止囉！
        </div>
    </div>
</div>

@section refScripts {
    <script>
        /* ---- Show Lightbox ---- */
        function ShowMsg(){
            $('.LightBoxUnderLay').show();
            $('.Stlye-2').css('display', 'block');
        }
        function clseLightbox() {
            $('.Stlye-2').css('display', 'none');
            $('.LightBoxUnderLay').css('display', 'none');
        }
        $(function() {
            $("#tabToAward,#tabToAward2").on("click",function(){
                $("html,body").animate({
                    scrollTop: $(".awardTableBox").offset().top
                }, 500);
                return false;
            });
        });
    </script>
    <script type="text/javascript">

        var activity = "activity";
        var value = "sharegift_0807";
        var setCookies = function (key, value, expire, path, domain) {
            jQuery.cookie(key, value, {
                expires: expire,
                path: path,
                domain: domain
            });
        };
        setCookies(activity, value, 1, "/", twNewegg().twNeweggDomain);
    </script>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=695768887110336";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <script>
        $(document).ready(function ()
        {
            $("#IWantLeaveMsg").on("click", function () { CheckLogin(); });
            $("#btn_JoinUs").on("click", function () { window.location = "/MyAccount/Signup?ReturnUrl=/VotingActivity/ShareGift_0807"; });
            $(":button.Vote").on("click", function () { Voting(this);});
        });


        /* ------ 確認登入 ------ */
        function CheckLogin()
        {
            twNewegg().checkNGO(function (auchk)
            {
                if (auchk)
                {
                    return true;
                }
                else
                {
                    window.location = "/MyAccount/Login?ReturnUrl=/VotingActivity/ShareGift_0807";
                }
            }, []);
        }

        /* ------ Voting ------ */
        function Voting(argBtn)
        {
            var numItemId = 0;
            var numGroupId = @objGroup.Id;
            var strValue = "";
            var numVote = "0";
            
            twNewegg().checkNGO(function (auchk)
            {
                if (!auchk)
                {
                    window.location = "/MyAccount/Login?ReturnUrl=/VotingActivity/ShareGift_0807";
                }
                else
                {
                    numItemId = $(argBtn).attr("voteid");
                    console.log("ItemId:", numItemId);
                    if(!$.isNumeric(numItemId))
                    {
                        return;
                    }

                    strValue = "GroupId=" + numGroupId + "&ItemId=" + numItemId + "&AccountId=&AccountSource=&AccountEmail=";
                    $.ajax({
                        url: "/api/VotingActivity/Voting?" + strValue,
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Basic " + jQuery.cookie("neui"));
                        },
                        dataType : "html",
                        error: function(xhr){
                            //console.log("response error:", xhr);
                            alert("投票過程網路中斷,請稍後再試");
                        },
                        success: function(response){
                            if(response.indexOf("成功") >= 0)
                            {
                                numVote = parseInt($(argBtn).siblings("span.Quantity").html());;
                                if($.isNumeric(numVote))
                                {
                                    numVote ++;
                                    $(argBtn).siblings("span.Quantity").html(numVote)
                                }
                            }
                            alert(response);
                        }
                    });
                }
            }, []);
        }

    </script>
}