
@{
    TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData WebSiteListWebSiteData = new TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData(0);
}
@{
    List<TWNewEgg.Website.ECWeb.Models.InsertSalesOrdersBySellerOutput> SOList = ViewBag.SOList as List<TWNewEgg.Website.ECWeb.Models.InsertSalesOrdersBySellerOutput>;
    var Header = ViewBag.NewLinkTitle + "/Themes/2013/img/header.png";
    var Fooer = ViewBag.NewLinkTitle + "/Themes/2013/img/footer.png";
}
<html>
    <body>
        <table width="795" border="0" align="center">
            <tr>
                <td>
                    <div>
                        <img src="@Header" width="795" height="68" />
                    </div>
                    <div>
                        <br />
                        @SOList.First().salesorder_name @ViewBag.appellation，您好：
                        <br/><br/>
                        您的訂單: @ViewBag.LBO 已於 @SOList.First().salesorder_createdate.ToShortDateString() 訂購成功，<br />
                        ■若您尚未付款，請於付款期限內完成繳款。<br />
                        ■若您已付款成功，商品寄出時，將會發信通知，感謝您的支持與配合。 <br />
                        若商品未能如期出貨，我們會發信通知，請您放心。您也可隨時在「我的訂單」查詢出貨狀況及相關資訊。<br />
                        <br />
                        注意事項：<br />
                        1.若選擇【貨到付款】，請先將款項備妥，於約定收貨時間，一併將全額款項交給宅配人員。<br />
                        2.商品若已出貨，則無法更改其他配送地址，請於原留地址取件，手機保持暢通待宅配人員與您聯繫。<br />
                        <br />
                        建議您可於會員登入後，於「我的帳戶>我的訂單>訂單狀態」內，可即時線上參考訂單的出貨狀況<br />
                        <br />
                        若有任何問題, 請聯繫@(WebSiteListWebSiteData.Contact1)<br />
                        電話:@(WebSiteListWebSiteData.PhoneNumber2)  客服信箱：<a href="mailto:@(WebSiteListWebSiteData.Email1)" target="_self">@(WebSiteListWebSiteData.Email1)</a><br />
                        服務時間: @(WebSiteListWebSiteData.ServiceTime)<br />
                        請注意：此郵件為系統自動傳送，請勿直接回覆！<br /><br />
                    </div>
                    <div>
                        <img src="@Fooer" width="795" height="40" />
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>