@{
    @Styles.Render("~/Themes/2013/stylesheets/allModel.css")
    Layout = "~/Views/Shared/_Layout.cshtml";
    int actionType = 0;
    int itemSketchID = 0;
    if(ViewBag.ActionType != null)
    {
        actionType = ViewBag.ActionType;
    }

    if (ViewBag.ItemSketchID != null)
    {
        itemSketchID = ViewBag.ItemSketchID;
    }
}

<style>
    .noticeFieldset{  
        -webkit-margin-start: 2px;
        -webkit-margin-end: 2px;
        -webkit-padding-before: 0.35em;
        -webkit-padding-start: 0.75em;
        -webkit-padding-end: 0.75em;
        -webkit-padding-after: 0.625em;
        border: 2px groove threedface;
    }
    .noticeLegend {
        font-weight:bolder;
        margin-left:3px;
        margin-right:3px;
    }
    .editor {
        margin-bottom: 20px;
    }
    .content {
        padding: 10px 15px 20px 15px;
        background: #FFF;
        border-top: 1px solid #ccc;
    }
    .errMsgShow {
        border: 1px solid red; 
    }
    input[type="text"].errMsgShow, input[type="password"].errMsgShow {
        border: 1px solid red;
    }
</style>

<div id="ItemCreation" class="rightBox">
    <div class="content">
        <div class="tabBox">
            <div class="nav" id="selectEditItemPage" onclick="showView('selectEditItemPage')">商品建立</div>
            <div class="nav" id="selectPropertyPage" onclick="showView('selectPropertyPage')">商品屬性</div>
            <div class="clear"></div>
        </div>
        <div id="ModifyItemMainPage">@Html.Action("ModifyItemIndex", new { actionType = actionType, itemSketchID = itemSketchID })</div>
        <div id="ProductProperty" style="display:none;">@Html.Partial("ModifyProductProperty")</div>
    </div>
    <div style="text-align:center;">
        @(Html.Kendo().Button()
            .Name("Save")
            .HtmlAttributes(new { @name = "Save" })
            .SpriteCssClass("k-icon k-i-tick")
            .Content("存檔")
        )
        @{
            if (actionType != (int)TWNewEgg.API.View.ItemCreationVM.GetActionType.TempEdit){
                @(Html.Kendo().Button()
                    .Name("Pending")
                    .HtmlAttributes(new{ @name = "Pending" })
                    .SpriteCssClass("k-icon k-i-arrow-e")
                    .Content("送審")
                )
            }
        }
    </div>
</div>

<script src="~/Scripts/ItemSketchFieldInspection.js?@(DateTime.Now.ToString("yyyyMMddHHmmssffff"))"></script>
<script src="~/Scripts/BasicQtyCheck.js?@(DateTime.Now.ToString("yyyyMMddHHmmssffff"))"></script>
<script type="text/javascript">
    function DetailEdit_Save_Alert_Comfirm(confirmReault, saveActionCheck) {
        if (!confirmReault) {
            $("#Save").removeAttr("disabled");
            $("#Pending").removeAttr("disabled");
            return null;
        }
        if (DataCheck('ConfirmPriceCashEqual')) {
            //開啟window 
            $("#ManMade_Alert_Message").html("售價不同於確認售價");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            $("#Pending").removeAttr("disabled");
            $("#Save").removeAttr("disabled");
            return null;
        }
        if (DataCheck('ConfirmCostCashEqual')) {
            //開啟window 
            $("#ManMade_Alert_Message").html("成本不同於確認成本");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            $("#Pending").removeAttr("disabled");
            $("#Save").removeAttr("disabled");
            return null;
        }
        if (DataCheck('DescriptionScriptCheck')) {
            //開啟window 
            $("#ManMade_Alert_Message").html("商品中文說明不可使用 Script 語法");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            $("#Pending").removeAttr("disabled");
            $("#Save").removeAttr("disabled");
            return null;
        }
        if (GrossProfitCalculate()) {
            //開啟window 
            $("#ManMade_Alert_Message").html("毛利率為負數，請重新設定售價或成本");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            $("#Pending").removeAttr("disabled");
            $("#Save").removeAttr("disabled");
            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            return null;
        }

                @{
                    if(actionType == 1) {
                        <text>
        if (QtyCheck('all')) {
            //開啟window 
            $("#ManMade_Alert_Message").html("請檢查紅框處是否符合填寫規則");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            $("#Save").removeAttr("disabled");
            return null;
        }
        </text>
                    }
                }

                @*取得頁面上所有資訊*@
        var jsonData = getItemVaule("@itemSketchID");
        saveUrl = "";
        if (saveActionCheck == "@((int)TWNewEgg.API.View.ItemCreationVM.GetActionType.SketchEdit)") {
                    saveUrl = "/ItemDetailEdit/EditItemSketch";
                }
                else if (saveActionCheck == "@((int)TWNewEgg.API.View.ItemCreationVM.GetActionType.SketchCopy)") {
                    saveUrl = "/ItemCreation/CreateNewItem";
                }
                else if (saveActionCheck == "@((int)TWNewEgg.API.View.ItemCreationVM.GetActionType.TempCopy)") {
                    saveUrl = "/ItemCreation/CreateNewItem";
                }
                else if (saveActionCheck == "@((int)TWNewEgg.API.View.ItemCreationVM.GetActionType.TempEdit)") {
                    saveUrl = "/ItemDetailEdit/EditItemSketch";
                    if (DataCheck('all')) {
                        //開啟window 
                        $("#ManMade_Alert_Message").html("請檢查紅框處是否符合填寫規則");
                        ManMade_Alert_Message_Window.data("kendoWindow").center().open();

                        jQuery("html,body").animate({
                            scrollTop: 0
                        }, 300);
                        $("#Save").removeAttr("disabled");
                        $("#Pending").removeAttr("disabled");
                        return null;
                    }
                }
        $(document).ajaxSend($.blockUI());
        $(document).ajaxStop($.unblockUI);
        $.ajax({
            type: "POST",
            url: saveUrl,
            contentType: "application/json;charset=utf-8",
            data: jsonData,
            success: function (res) {
                if (res.IsSuccess == true) {
                    //開啟window 
                    $("#ManMade_Alert_Message").html("修改成功");
                    ManMade_Alert_Message_Window.data("kendoWindow").center().open();

                    window.opener.location.reload();
                    window.close();
                }
                else {
                    //開啟window 
                    $("#ManMade_Alert_Message").html(res.ErrorMessage);
                    ManMade_Alert_Message_Window.data("kendoWindow").center().open();

                    window.opener.location.reload();
                    window.close();
                }
                $("#Save").removeAttr("disabled");
                $("#Pending").removeAttr("disabled");
            }
        });
    }
    function DetailEdit_Pending_Alert_Comfirm(confirmReault) {
        if (!confirmReault) {
            $("#Save").removeAttr("disabled");
            $("#Pending").removeAttr("disabled");
            return null;
        }
        var basicCheckResult = DataCheck('all');
        var qtyCheckResult = QtyCheck('all');
        if (basicCheckResult || qtyCheckResult) {
            //開啟window 
            $("#ManMade_Alert_Message").html("請檢查紅框處是否符合填寫規則");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();
            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            $("#Save").removeAttr("disabled");
            $("#Pending").removeAttr("disabled");
            return null;
        }

        if (GrossProfitCalculate()) {
            //開啟window 
            $("#ManMade_Alert_Message").html("毛利率為負數，請重新設定售價或成本");
            ManMade_Alert_Message_Window.data("kendoWindow").center().open();

            $("#Pending").removeAttr("disabled");
            $("#Save").removeAttr("disabled");
            jQuery("html,body").animate({
                scrollTop: 0
            }, 300);
            return null;
        }
                @*取得頁面上所有資訊*@
        var jsonData = getItemVaule("@itemSketchID");
        $(document).ajaxSend($.blockUI());
        $(document).ajaxStop($.unblockUI);
        $.ajax({
            type: "POST",
            url: "/ItemPending/ItemSketchPending",
            contentType: "application/json;charset=utf-8",
            data: jsonData,
            success: function (res) {
                if (res.IsSuccess == true) {
                    //開啟window 
                    $("#ManMade_Alert_Message").html(res.SuccessMsg);
                    ManMade_Alert_Message_Window.data("kendoWindow").center().open();
                    window.opener.location.reload();
                    window.close();
                }
                else {
                    //開啟window 
                    $("#ManMade_Alert_Message").html(res.ErrorMsg);
                    ManMade_Alert_Message_Window.data("kendoWindow").center().open();
                }
                $("#Save").removeAttr("disabled");
                $("#Pending").removeAttr("disabled");
            }
        });
    }
    $(document).ready(function () {

        @*Save鍵被點擊時執行*@
        $("#Save").click(function () {
            lastEvent = "Save";

            var saveActionCheck = parseInt("@actionType");
            if (saveActionCheck == "@((int)TWNewEgg.API.View.ItemCreationVM.GetActionType.TempEdit)") {
                var errflag = true;
                if (!($("#SubCategoryID_1_Layer1").val().length <= 0 || $("#SubCategoryID_1_Layer1").val() == 0)) {
                    if ($("#SubCategoryID_1_Layer2").val().length <= 0 || $("#SubCategoryID_1_Layer2").val() == 0) {
                        $("#SubCategoryID_1_Layer2").parents("span.k-widget.k-dropdown.k-header").addClass("errMsgShow");
                        $("#emptySubCategoryID_1_Layer2Msg").removeAttr("style");
                        errflag = false;
                    }
                    else {
                        $("#SubCategoryID_1_Layer2").parents("span.k-widget.k-dropdown.k-header").removeClass("errMsgShow");
                        $("#emptySubCategoryID_1_Layer2Msg").attr("style", "display:none");
                    }
                }
                if (!($("#SubCategoryID_2_Layer1").val().length <= 0 || $("#SubCategoryID_2_Layer1").val() == 0)) {
                    if ($("#SubCategoryID_2_Layer2").val().length <= 0 || $("#SubCategoryID_2_Layer2").val() == 0) {
                        $("#SubCategoryID_2_Layer2").parents("span.k-widget.k-dropdown.k-header").addClass("errMsgShow");
                        $("#emptySubCategoryID_2_Layer2Msg").removeAttr("style");
                        errflag = false;
                    }
                    else {
                        $("#SubCategoryID_2_Layer2").parents("span.k-widget.k-dropdown.k-header").removeClass("errMsgShow");
                        $("#emptySubCategoryID_2_Layer2Msg").attr("style", "display:none");
                    }
                }
                if (errflag == false) {
                    //開啟window 
                    $("#ManMade_Alert_Message").html("子分類不得為空");
                    ManMade_Alert_Message_Window.data("kendoWindow").center().open();
                    jQuery("html,body").animate({
                        scrollTop: 0
                    }, 300);
                    return false;
                }
            }
            if (typeof (CKEDITOR.instances["Description"]) != "undefined") {
                $("#Save").attr("disabled", "disabled");
                $("#Pending").attr("disabled", "disabled");
                @*防止使用者誤按確認*@
                $("#ManMade_Another_Alert_Message").html("是否確定存檔?");
                ManMade_confirm_chancel_window.data("kendoWindow").center().open();
                $('#ManMade_confirm_chancel_window').find(".confirm,.cancel").click(function () {
                    //若本身包含.confirm，也就是確認紐，則做按下確認要做的事件 
                    if ($(this).hasClass("confirm")) {
                        var confirmReault = true;
                        //需要做的事件 
                        DetailEdit_Save_Alert_Comfirm(confirmReault, saveActionCheck);
                    }
                        //若本身不包含.confirm，也就是取消紐，則做按下取消要做的事件 
                    else {
                        var confirmReault = false;
                        //需要做的事件 
                        DetailEdit_Save_Alert_Comfirm(confirmReault, saveActionCheck);
                    }
                });

    }
    else {
        $("#ManMade_Alert_Message").html("資料尚未完全載入，請稍後");
        ManMade_Alert_Message_Window.data("kendoWindow").center().open();
    }
        });

        @*送審按鈕*@
        $("#Pending").click(function () {
            lastEvent = "Pending";

            var errflag = true;
            if (!($("#SubCategoryID_1_Layer1").val().length <= 0 || $("#SubCategoryID_1_Layer1").val() == 0)) {
                if ($("#SubCategoryID_1_Layer2").val().length <= 0 || $("#SubCategoryID_1_Layer2").val() == 0) {
                    $("#SubCategoryID_1_Layer2").parents("span.k-widget.k-dropdown.k-header").addClass("errMsgShow");
                    $("#emptySubCategoryID_1_Layer2Msg").removeAttr("style");
                    errflag = false;
                }
                else {
                    $("#SubCategoryID_1_Layer2").parents("span.k-widget.k-dropdown.k-header").removeClass("errMsgShow");
                    $("#emptySubCategoryID_1_Layer2Msg").attr("style", "display:none");
                }
            }
            if (!($("#SubCategoryID_2_Layer1").val().length <= 0 || $("#SubCategoryID_2_Layer1").val() == 0)) {
                if ($("#SubCategoryID_2_Layer2").val().length <= 0 || $("#SubCategoryID_2_Layer2").val() == 0) {
                    $("#SubCategoryID_2_Layer2").parents("span.k-widget.k-dropdown.k-header").addClass("errMsgShow");
                    $("#emptySubCategoryID_2_Layer2Msg").removeAttr("style");
                    errflag = false;
                }
                else {
                    $("#SubCategoryID_2_Layer2").parents("span.k-widget.k-dropdown.k-header").removeClass("errMsgShow");
                    $("#emptySubCategoryID_2_Layer2Msg").attr("style", "display:none");
                }
            }
            if (errflag == false) {
                $("#ManMade_Alert_Message").html("子分類不得為空");
                ManMade_Alert_Message_Window.data("kendoWindow").center().open();
                jQuery("html,body").animate({
                    scrollTop: 0
                }, 300);
                return false;
            }
            if (typeof (CKEDITOR.instances["Description"]) != "undefined") {
                $("#Save").attr("disabled", "disabled");
                $("#Pending").attr("disabled", "disabled");

                @*防止使用者誤按確認*@
                $("#ManMade_Another_Alert_Message").html("是否確定送審?");
                ManMade_confirm_chancel_window.data("kendoWindow").center().open();
                $('#ManMade_confirm_chancel_window').find(".confirm,.cancel").click(function () {
                    //若本身包含.confirm，也就是確認紐，則做按下確認要做的事件 
                    if ($(this).hasClass("confirm")) {
                        var confirmReault = true;
                        //需要做的事件 
                        DetailEdit_Pending_Alert_Comfirm(confirmReault)
                    }
                        //若本身不包含.confirm，也就是取消紐，則做按下取消要做的事件 
                    else {
                        var confirmReault = false;
                        //需要做的事件 
                        DetailEdit_Pending_Alert_Comfirm(confirmReault)
                    }
                });


                
            }
            else {
                //開啟window 
                $("#ManMade_Alert_Message").html("資料尚未完全載入，請稍後");
                ManMade_Alert_Message_Window.data("kendoWindow").center().open();
            }
        });
        showView("selectEditItemPage");
    });

    @*記錄最後的事件*@
    var lastEvent = "";
    window.onbeforeunload = function (e) {
        @*關閉頁面前的最後事件不是送審的話，才詢問是否離開頁面*@
        if (lastEvent != "Pending") {
            return "頁面資訊將會遺失。";
        }
    }

    @*切換頁面*@
    function showView(actionName) {
        if (actionName == "selectEditItemPage") {
            $("#ModifyItemMainPage").attr("style", "display:block;");
            $("#ProductProperty").attr("style", "display:none;");
            $("#selectEditItemPage").attr("class", "nav active");
            $("#selectPropertyPage").attr("class", "nav");
        }
        else {
            $("#ModifyItemMainPage").attr("style", "display:none;");
            $("#ProductProperty").attr("style", "display:block;");
            $("#selectEditItemPage").attr("class", "nav");
            $("#selectPropertyPage").attr("class", "nav active");
            @*Disabled掉使用者已填寫新屬性的下拉式選單*@
            dropDownListDisabled();
        }
    }

    @*Disabled掉使用者已填寫新屬性的下拉式選單*@
    function dropDownListDisabled() {
        $("#ProductProperty input[name=InputValue]").each(function () {
            var getPropertyID = $(this).attr("getPropertyID");
            var getValueID = $("#" + getPropertyID).val();
            var getInputValue = $(this).val();
            if (getInputValue.length > 0) {
                $("#" + getPropertyID).data("kendoDropDownList").value("0");
                $("#" + getPropertyID).data("kendoDropDownList").enable(false);
            }
        });
    }

</script>