@{
    //訂單通知信
    
    var Header = ViewBag.NewLinkTitle + "/Themes/2013/img/header.png";
    var Fooer = ViewBag.NewLinkTitle + "/Themes/2013/img/footer.png";
    string APIHost = System.Configuration.ConfigurationManager.AppSettings["TWSPHost"];
    string CompanyName = System.Configuration.ConfigurationManager.AppSettings["GlobalCompanyName"];
    string MailEndWords = System.Configuration.ConfigurationManager.AppSettings["MailEndWords"]; 
    //var MailLink = "http://sellerpotal.newegg.com.tw/Pages/Account/SetPassword.aspx?UserEmail=" + ViewBag.UserEmail + "&RanNum=" + ViewBag.RanNum;
    //var MailLink = "http://localhost:6789/Pages/Account/SetPassword.aspx?UserEmail=" + ViewBag.UserEmail + "&RanNum=" + ViewBag.RanNum;       //2014.1.24 寄認證信path改讀AppSettings.Config mark by ice
    var MailLink = APIHost + "/Pages/Account/SetPassword.aspx?UserEmail=" + ViewBag.UserEmail + "&RanCode=" + ViewBag.RanCode;                    //2014.1.24 寄認證信path改讀AppSettings.Config mark by ice
    string CustomerServicePhone = System.Configuration.ConfigurationManager.AppSettings["CustomerServicePhone"];
    string SupplierPhone = System.Configuration.ConfigurationManager.AppSettings["SupplierPhone"];
}
<html>
<head>
    <title>退貨完成通知信</title>
    <style type="text/css">
        .BlueFont {
            color:blue;
        }

        .FontArial {
            font-family:'Arial Narrow', 'Nimbus Sans L', sans-serif;
            font-weight:bold;
            color:blue;
        }

        .SpecialEmphisize {
            font-family:'Arial Narrow', 'Nimbus Sans L', sans-serif;
            font-weight:900;
        }

        .tabletextstyle {
            width : 795px ;
            border : 0 ;
            font-weight : bold;
        }
    </style>
</head>

    <body>
        <table class ="tabletextstyle">
            <tr>
                <td>
                    <div>
                        <img src="@Header" width="795" height="68" />
                    </div>
                    <div>
                        <br />
                        @string.Format("{0}",ViewBag.SellerName) 您好：
                        <br/><br/>
                        @(string.Format("{0}", ViewBag.MailMessage))                       
                        <br /><br/><br/>
                    </div>
                    <div>
                        <p>
                            @(MailEndWords)
                            <br /><br />
                            電話: <span style="color:blue;font-weight:900;" class="FontArial">@(SupplierPhone) (供應商服務專線)</span>
                            <br />
                            客服信箱: <a href="mailto:marketplace@newegg.com.tw" target="_self" >marketplace@newegg.com.tw</a>
                            <br />
                            服務時間: 週一至週五 <span style="color:blue;font-weight:900;" class="FontArial">8:30a.m.~12:00 p.m. 1:00p.m.~5:30 p.m</span>
                            <br /><br />
                            <span style="color:red">※此信件為系統自動發送，請勿直接回覆。※</span>
                            <br />
                            <br />
                            <br />
                        </p>
                    </div>
                    <div>
                        <img src="@Fooer" width="795" height="40" />
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
