@{
    ViewBag.Title = "CartStep3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styleSheets {
    @Styles.Render("~/Themes/css/bootstrap.css")
    @Styles.Render("~/Themes/css/mStyle.css")
    @Styles.Render("~/Themes/css/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Themes/css/owl.carousel.css")
    @Styles.Render("~/Themes/css/owl.theme.css")
    @Styles.Render("~/Themes/css/royal_tab2.css")
}
    
<div class="wrapper">
<div class="main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="topper">
                        <div class="title"><i class="listi5"></i><div class="text">新蛋購物車</div></div>
                        <div class="line graybg"></div>
                    </div>
                </div>
            </div>
            
            <div class="topper">
                <img class="img-responsive center-block show-grid" src="/Themes/img/step3.png"/>
            </div>

            <div class="container">
                <form>
                            <div class="row show-grid">
                                <div class="head-bar orangebg2"><i class="listi1"></i>信用卡付款</div>
                            </div>
                                <p>台灣新蛋會以手機簡訊或email通知您取件時間 , 請於通知取件七天內以前 , 攜帶您的身分證至萊爾富 :福泰門市核對身分 , 即可輕鬆領取商品喔 !</p>
                            <div class="row show-grid">
                                <div class="head-bar orangebg2">付款狀態  信用卡:付款成功</div>
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">轉帳銀行:</div>
                                  <div class="col-xs-8">台新銀行</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">轉帳帳號:</div>
                                  <div class="col-xs-8">XXXXXXXXXXXXX</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">轉帳金額:</div>
                                  <div class="col-xs-8">13,336</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">繳費期限:</div>
                                  <div class="col-xs-8">2015/06/03</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">購物車序號:</div>
                                  <div class="col-xs-8">123456789</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-4">訂購日期:</div>
                                  <div class="col-xs-8">2015/06/01</div>        
                            </div>
                            <div class="row show-grid">
                                    <div class="head-bar orangebg2"><i class="listi2"></i>購物車明細(2)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8"><span class="align-left">總計:</span><span class="redtxt align-right">14,829</span></div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8"><span class="align-left">購物金優惠:</span><span class="redtxt align-right">-597</span></div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8"><span class="align-left">滿額折優惠:</span><span class="redtxt align-right">114,829</span></div>
                                <div class="col-xs-2"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8"><span class="align-left">應付金額</span><span class="align-right">新台幣<span class="redtxt">13,336元</span></span></div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row show-grid">
                                    <div class="head-bar orangebg2"><i class="listi3"></i>收件人資料</div>
                            </div>
                            <div class="row">
                                  <div class="col-xs-3">姓名:</div>
                                  <div class="col-xs-9">王曉明</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-3">手機:</div>
                                  <div class="col-xs-9">0915155555</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-3">市話:</div>
                                  <div class="col-xs-9">02-22223333</div>        
                            </div>
                            <div class="row">
                                  <div class="col-xs-3">地址:</div>
                                  <div class="col-xs-9">新北市XXXXXXX</div>        
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-lg btn-block bluebg whitetxt">回購物中心首頁</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-lg btn-block orangebg2 whitetxt">繼續結帳</button>
                                <p class="help-block redtxt2">尚有1個購物車尚未結帳</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-lg btn-block orangebg2 whitetxt">海外購物車</button>
                                </div>
                            </div>
                </form>
            </div>
</div><!-- /.main -->
</div><!-- /.wrapper -->

@section scripts{
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/jquery.freetile.js"></script>
<script src="/Scripts/init.js"></script>
<script src="/Scripts/owl.carousel.js"></script>
<script src="/Scripts/royal_tab.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({

            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });
    });
</script>
}