@using TWNewEgg.ECWeb.Auth
@{
    TWNewEgg.GetConfigData.Service.WebSiteInformation WebSiteInformation = new TWNewEgg.GetConfigData.Service.WebSiteInformation();
    TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData WebSiteListWebSiteData = new TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData(0); 
}

@{
    ViewBag.Title = "密碼修改" + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Email = NEUser.Email;
}

@section styleSheets {
    @Styles.Render("~/content/css/ElementLibrary")
    @Styles.Render("~/content/css/ElementLibrary_Layout")
    @Styles.Render("~/content/css/PswRule")
    @Styles.Render("~/content/css/Account")
    @Styles.Render("~/content/css/MyAccount")
    @Styles.Render("~/content/css/commonSimple")
    @Styles.Render("~/content/css/ShoppingProcess")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
}
@section scripts {
    @Scripts.Render("~/Scripts/TWEC/WebEffect.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/TWEC/AccountVerify.js")
    <script>
        /*給子選單滑出滑入用的jquery*/
        TabSelectArea();
        /*密碼設定條件*/
        showPassword();

        $("input.SendConfirmation").on("click", function () {
            $("div.LightBoxUnderLay").fadeIn();
            $("div.LightBoxMsg.DelayWindow").fadeIn();
            LightBoxCenter("div.LightBoxMsg.DelayWindow");
            if (Judge()) {
                var ModelDetail = {
                    "Email": $("#AccountEmail").html(),
                    "OldPWD": $("#OldPassword").val(),
                    "PWD": $("#NewPassword").val(),
                    "confirmPWD": $("#ConfirmNewPassword").val()
                }
                var json = JSON.stringify({ "SaveAccountVM": ModelDetail });
                $.ajax({
                    url: "/MyAccount/UpdatePasswordPost",
                    contentType: "application/json;charset=utf-8",
                    data: json,
                    method: 'POST',
                    dataType: "Json",
                    success: function (res) {
                        //console.log(res);
                        if (res.Status == 0) {
                            $("#SuccessMessages").html(res.Message);
                            $("div.LightBoxMsg.SuccessDialog").fadeIn();
                            LightBoxCenter("div.LightBoxMsg.SuccessDialog");
                        }
                        else {
                            $("#ErrorMessages").html(res.Message);
                            $("div.LightBoxMsg.RemindDialog").fadeIn();
                            LightBoxCenter("div.LightBoxMsg.RemindDialog");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                        $("#ErrorMessages").html("系統異常，請聯絡客服人員！");
                        LightBoxCenter("div.LightBoxMsg.RemindDialog");
                        $("div.LightBoxMsg.DelayWindow").delay(1888).fadeOut();
                        $("div.LightBoxUnderLay").delay(1888).slideDown(888).fadeOut();
                    }
                });
            }
            else {
                $("#ErrorMessages").html("資料填寫不正確！");
                $("div.LightBoxMsg.RemindDialog").fadeIn();
                LightBoxCenter("div.LightBoxMsg.RemindDialog");
            }
        });

        $("input.CancelConfirmation").on("click", function () {
            window.location.href = '/Home';
        });

        @*檢查密碼是否符合要求格式*@
        $("#NewPassword").blur(function () {
            NewPassword();
        });

        @*檢查密碼與確認密碼是否相同*@
        $("#ConfirmNewPassword").blur(function () {
            ConfirmNewPassword();
        });

        $("input.DialogBtnFunctionV1").on("click", function () {
            $("div.LightBoxMsg").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
            $("div.LightBoxUnderLay").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
        });

        $("input.DialogBtnFunctionV2").on("click", function () {
            $("div.LightBoxMsg.Only").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
            window.location.href = '/Home';
        });

        function Judge() {
            if (NewPassword() && ConfirmNewPassword()) {
                return true;
            }
            else {
                return false;
            }
        }

        function NewPassword() {
            var result = true;
            var Oldpassword = $("#OldPassword").val();
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            var EmailAccount = $("#account_email").html();

            $(".pwdcheck").each(function () {
                $(this).prop('checked', true);
            });
            $("#password_rules").text("");


            if (password.length < 6 && password != "" && password != null) {
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").text("");
                $("#password_rules").text("密碼長度不可小於六碼");
                $("#password_rules").css('display', '');
                $("#pwdcheck_length").prop('checked', false);
                result = false;
            }

            if (!VerifyPwdRule(password, EmailAccount) && password != "" && password != null) {
                $("#password_rules").text("");
                $("#password_rules").text("密碼格式錯誤");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").css('display', '');
                $("#pwdcheck_numeric").prop('checked', false);
                result = false;
            }

            if (password == EmailAccount) {
                $("#password_rules").text("");
                $("#password_rules").text("帳密不得相同");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus');
                $("#password_rules").css('display', '');
                $("#pwdcheck_email").prop('checked', false);
                result = false;
            }

            if (Oldpassword == password) {
                $("#password_rules").text("");
                $("#password_rules").text("新舊密碼不得為空或相同");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus');
                $("#password_rules").css('display', '');
                $("#pwdcheck_repeat").prop('checked', false);
                result = false;
            }

            if (account_confirmpassword != "" && account_confirmpassword == "undefined") {
                if (password == account_confirmpassword) {
                    //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                    $("#PassWordRuleSay").hide();
                }
                else {
                    $("#PassWordRuleSay").show();
                    result = false;
                }
            }
            return result;
        }

        function ConfirmNewPassword(){
            var result = true;
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            if (password != account_confirmpassword && password != "" && account_confirmpassword != "" && password != "undefined" && account_confirmpassword != "undefined") {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").show();
                result = false;
            }
            else if (password == account_confirmpassword) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                $("#PassWordRuleSay").hide();
            }
            else if (account_confirmpassword == "" || account_confirmpassword == null) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").hide();
            }
            return result;
        }
    </script>
}


<div class="pathLink">
    <a href="/">首頁</a> >
    <a href="/MyAccount">我的帳戶</a> >
    <span>密碼修改</span>
</div>

<div class="TopExplanationArea"></div>

<div class="AccountArea">
    <div class="TabArea Border grayBorder">
        <ul>
            <li class="Tab BorderTab" id="WishList"><a href="/Cart/WishCart"><i class="icon ServiceIcon WishList"></i>我的最愛清單</a></li>
            @*<li class="Tab BorderTab" id="ShoppingCash"><a href="/MyAccount/NeweggCash"><i class="icon ServiceIcon ShoppingCash"></i>我的回饋金</a></li>*@
            <li class="Tab BorderTab" id="Coupons"><a href="/MyAccount/Coupon"><i class="icon ServiceIcon Coupons"></i>我的折價券</a></li>
            <li class="Tab BorderTab" id="Order" onclick="TabOpenClose()">
                <a href="/MyAccount/Order"><i class="icon ServiceIcon Order"></i>我的訂單<i class="icon Up"></i></a>
                <ul class="SubMenu">
                    @*<li><a href="/MyAccount/Order">訂單狀態</a></li>*@
                    @*<li><a href="/MyAccount/Invoice">發票查詢</a></li>*@
                </ul>
            </li>
            <li class="Tab BorderTab TabSelected" id="Account">
                <a href="/MyAccount"><i class="icon ServiceIcon Account"></i>帳戶管理<i class="icon Up"></i></a>
                <ul class="SubMenu">
                    <li><a href="/MyAccount/EditPersonInfo">個人資料修改</a></li>
                    <li><a href="/MyAccount/EditPassword">密碼修改</a></li>
                    @*<li><a href="/MyAccount/AddressBook">紀錄本修改</a></li>*@
                    <li><a href="/MyAccount/AskQuestion">問答中心</a></li>
                    <li><a href="/MyAccount/EditAccount">帳號修改</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="serviceContentArea">
        <div class="serviceContentBox">
            <div class="ClassTit"><i class="icon ServiceIcon UpdateInformation-2"></i>密碼修改</div>
            <div class="service_contentForm">
                <div class="service_contentList">
                    <div class="tit">您的Email帳號</div>
                    <div class="txt" id="AccountEmail">@(Email)</div>
                </div>
                <div class="service_contentList">
                    <div class="tit"><span class="red">*</span>請輸入原始密碼</div>
                    <div class="txt">
                        <input type="password" id="OldPassword" placeholder="6-16碼數字或英文字母混合" />
                        <span class="tipsForgot"><a href="/MyAccount/ForgetPassword">忘記密碼？</a></span>
                    </div>
                </div>
                <div class="service_contentList pswBar">
                    <div class="tit"><span class="red">*</span>設定新密碼</div>
                    <div class="txt">
                    <input type="password" name="PWD" id="NewPassword" class="account_pwd" onkeyup="VerifyPwdRule(this.value,$('#account_email').html());" maxlength="16" tabindex="2" onfocus="VerifyPwdRule(this.value,$('#account_email').val());" placeholder="6-16碼數字或英文字母混合" />
                    @* 預設為不顯示密碼，value="顯示密碼"，toggle! *@
                    <input type="button" value="隱藏密碼" id="hide_pwd" class="btn btn-pswHide" style="display:none" />
                    <input type="button" value="顯示密碼" id="show_pwd" class="btn btn-pswShow" style="display:none" />
                    <div class="pswRuleBox" id="ShowPasswordRule">
                        <ol>
                            <li class="ruleTerm">為保證您的個資安全，請確認您的密碼必須符合以下條件：</li>
                            <li><input id="pwdcheck_email" class="pwdcheck" type="checkbox" disabled />帳密不得相同</li>
                            <li><input id="pwdcheck_length" class="pwdcheck" type="checkbox" disabled />密碼長度為6~16字元</li>
                            <li><input id="pwdcheck_repeat" class="pwdcheck" type="checkbox" disabled />新舊密碼不相同</li>
                        </ol>
                    </div>
                    <div id="showResult" class="pswSecure" style="display:none"><p>密碼強度</p></div>
                    <div class="errMsg"><span id="password_rules" style="display:none"></span></div>
                    </div>
                </div>
@*                <div class="service_contentList">
                    <div class="tit">確認密碼</div>
                    <div class="txt"><input type="password" placeholder="請再次確認密碼" /></div>
                </div>*@
                <div id="rePwdTip" class="service_contentList fillForm_contentList rePswBar">
                    <div class="tit"><span class="red">*</span>確認密碼</div>
                    <div class="txt">
                        <input type="password" name="PWDtxt" id="ConfirmNewPassword" maxlength="16" tabindex="3" placeholder="請再次輸入密碼" />
                        <span class="errMsg" id="PassWordRuleSay" style="display: none">確認密碼與密碼不一致，請重新輸入</span>
                    </div>
                </div>
            </div>
            <div class="btmBtnArea">
                <input type="button" value="確認" class="btn btn-submit SendConfirmation" />
                <input type="button" value="取消" class="btn btn-cancel CancelConfirmation" />
            </div>
        </div>
    </div>
</div>


@**彈出對話視窗*@
<div class="LightBoxUnderLay" style="display:none;">
    <div class="LightBoxMsg DelayWindow ProcessWindow">
        <div class="Remindtxt">
            <span id=""><img src="/Themes/img/System/ProcessWindow.gif"></span>
        </div>
    </div>
     <div class="LightBoxMsg Stlye-3 RemindDialog" style="display:none;">
        <div class="Remindtxt">
            <span id="ErrorMessages"></span>
        </div>
        <div class="DialogBtn">
            <label><input name="" type="button" value="確認" class="DialogConfirmBtn Btn DialogBtnFunctionV1"></label>
        </div>
    </div>
    <div class="LightBoxMsg Stlye-3 SuccessDialog Only" style="display:none;">
        <div class="Remindtxt">
            <span id="SuccessMessages"></span>
        </div>
        <div class="DialogBtn">
            <label><input name="" type="button" value="確認" class="DialogConfirmBtn Btn DialogBtnFunctionV2"></label>
        </div>
    </div>
</div>
@**彈出對話視窗*@