@using TWNewEgg.Models.DomainModels.Media
@model MediaListInfo
@{
    ViewBag.Title = "媒體報導" + "-新蛋全球生活網";
    int j = 2;
}
@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/NewsMedia")

@section scripts
{
    @Scripts.Render("~/Scripts/NETW/netw-newsmedia-1.0.0.0.js")
    <script>
        $(document).ready(function () {
            twNewegg.Media.closePop();
        });
    </script>
}
<div class="bread"><a href="/">首頁</a> > <span>媒體報導</span></div>
<br class="clear" />

<div>

    @*↓↓↓↓↓↓↓↓↓↓左側選單↓↓↓↓↓↓↓↓↓↓*@
    <ul class="LeftBlock">
        <li><a href="/News/Index">新聞中心</a></li>
        <li class="Selected"><a href="/News/Media">媒體報導</a></li>
    </ul>
    @*↓↓↓↓↓↓↓↓↓↓右側內容區↓↓↓↓↓↓↓↓↓↓*@
    @if (Model != null && Model.MediaList.Any())
    {
    <div class="RightBlock">
    <div class="BoxsGroup">
                @foreach (var mediaList in Model.MediaList)
                {
                    @Html.Partial("Partial_MediaCell", mediaList);
                }
        </div>
    @*↓↓↓↓↓↓↓↓↓↓ 分頁頁碼 ↓↓↓↓↓↓↓↓↓↓*@
        <div class="PageArea">
            @{
            int pageIndex = Model.CurrentPage > 0 ? Model.CurrentPage : 1;
            int prevIndex = pageIndex > 1 ? pageIndex - 1 : 1;
            int nextIndex = pageIndex < Model.PageCount ? pageIndex + 1 : Model.PageCount;
            int ranger = 3;
            bool hasFirstLink = pageIndex - ranger > 1;
            bool hasPreFixLink = pageIndex - ranger + 1 > 1;
            bool hasPostFixLink = pageIndex + ranger <= Model.PageCount;
            bool hasLastLink = pageIndex + ranger < Model.PageCount;
            int startIndex = 1;
            int endIndex = Model.PageCount;
            }
            @if ((Model.CurrentPage - 1) >= 1)
            {
            <a class="arrow arrLeft" href="/News/Media?pageIndex=@(prevIndex)">< </a>
            }
                @*First page link.*@
                @if (hasFirstLink)
                {
                <a href="/News/Media?pageIndex=1"> 1. . . </a> 
                }

                @*Prefix page link*@
                @if(hasPreFixLink && hasPostFixLink)
                {
                    startIndex = pageIndex - ranger;
                    endIndex = pageIndex + ranger < Model.PageCount ? pageIndex + ranger : Model.PageCount;
                }
                else if (hasPreFixLink && !hasPostFixLink)
                {
                    startIndex = pageIndex + ranger > Model.PageCount ? Model.PageCount - (ranger * 2) : pageIndex - ranger;
                    endIndex = Model.PageCount;
                }
                else if (!hasPreFixLink && !hasPostFixLink)
                {
                    startIndex = 1;
                    endIndex = Model.PageCount;
                }

                    @for (int i = startIndex; i <= endIndex; i++)
			        {
                        if (i == pageIndex)
                        {
                <a class="SelectThePage" href="#nogo" style="color: #F37225">@(pageIndex)</a> 
                        }
                        else
                        {
                <a href="/News/Media?pageIndex=@(i)">@(i)</a> 
                        }
			        }

                @*Last page link.*@
                @if(hasLastLink)
                {
                <a href="/News/Media?pageIndex=@(Model.PageCount)"> . . . @(Model.PageCount)</a> 
                }
            @if ((pageIndex + 1) <= Model.PageCount)
            {
                <a class="arrow arrRight" href="/News/Media?pageIndex=@(nextIndex)"> > </a>
            }
        </div>
    @*↑↑↑↑↑↑↑↑ 上下則 ↑↑↑↑↑↑↑*@
        </div>
    }
    else
    {
        <div>
            <center style="font-size: 24px; color: #49639e;">抱歉，此處建構中，請先逛逛其他地方！</center>
        </div>
    }
    </div>
    @*↓↓↓↓↓↓↓↓↓↓ 跳出視窗 ↓↓↓↓↓↓↓↓↓↓*@
    <div class="LightBoxUnderLay">
        <div class="LightBoxMsg Stlye-2">
            <input type="button" class="CloseBtn">
            <div class="MsgContent">
                <div class="Media"></div>@*影片或是圖片放置的div*@
            <p class="Date"></p>@*發布日期*@
            <div class="MediaName">
            </div>
            </div>
            <p class="SiteFrom">新聞源自：<a class="link UnderLine" target="_blank">XXXXXXXXXX</a></p>
        </div>
    </div>
    @*↑↑↑↑↑↑↑↑ 跳出視窗 ↑↑↑↑↑↑↑↑*@