@{
    ViewBag.Title = "忘記密碼" + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.errorMessage;
}

@*此頁不需要:側選單下拉/浮動小車*@
@section addToFloatMenu {}
@section addToFloatAccount {}

@section styleSheets{
    @Styles.Render("~/content/css/ElementLibrary_Layout")
    @Styles.Render("~/content/css/ElementLibrary")
    @Styles.Render("~/content/css/Account")
    @Styles.Render("~/content/css/MyAccount")
    @Styles.Render("~/content/css/commonSimple")
    @Styles.Render("~/content/css/ShoppingProcess")
}

<div class="ForgetPassword">
    <div class="ForgetPasswordTit">
        <img src="/Themes/img/MyAccount/ForgetPassword.png">
        <p>忘記密碼</p>
        <div class="clear"></div>
    </div>
    <form action="/myaccount/forgetpassword" method="post">
    <div class="ForgetPasswordContent">
        <div class="fillForm_contentList">
            <div class="accountinput">
                <div class="tit">帳號</div>
                <div class="txt">
                    <input type="text" id="email" name="email" placeholder="請輸入e-mail">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        @if (message != null && message != "請至信箱收信並點取連結修改新密碼")
        {
            <div class="RedText">@(message)</div>
        }
        <div class="ForgetPasswordBtn">
                <label><input name="" type="submit" id="forgetsubmit" value="確認" class="OrgBtn"></label>
                <label><input name="" type="button" id="forgetcancel" value="取消" class="OrgBtn"></label>
                <div class="clear"></div>
        </div>
    </div>
    </form>
</div>

@section scripts{
    <script>
        var encodeEmail = function () {
            //$("#email").val(encodeURIComponent($("#email").val()));
        };
        var clearEmail = function () {
            $("#email").val("");
        };
        $(document).ready(function () {
            $("#forgetcancel").on("click", function () {
                clearEmail();
            });
            $("#forgetsubmit").on("click", function () {
                encodeEmail();
            });
        });
        @if (message == "請至信箱收信並點取連結修改新密碼"){
            @Html.Raw(string.Format("alert(\"{0}\");", message));
            @Html.Raw("window.location.href = \"/Home\";");
        }
    </script>
}