@model Dictionary<string, string>
@{
    ViewBag.Title = "重設密碼" + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*此頁不需要:側選單下拉/浮動小車*@
@section addToFloatMenu {}
@section addToFloatAccount {}

@section styleSheets{
    @Styles.Render("~/content/css/ElementLibrary")
    @Styles.Render("~/content/css/ElementLibrary_Layout")
    @Styles.Render("~/content/css/Account")
    @Styles.Render("~/content/css/MyAccount")
    @Styles.Render("~/content/css/commonSimple")
    @Styles.Render("~/content/css/ShoppingProcess")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
}

@section scripts {
    @Scripts.Render("~/Scripts/TWEC/WebEffect.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/TWEC/AccountVerify.js")
    <script>
        /*給子選單滑出滑入用的jquery*/
        TabSelectArea();

        $("input.SendConfirmation").on("click", function () {
            $("div.LightBoxUnderLay").fadeIn();
            $("div.LightBoxMsg.DelayWindow").fadeIn();
            LightBoxCenter("div.LightBoxMsg.DelayWindow");
            if (Judge()) {
                var ModelDetail = {
                    "email": "@(Model["body"])",
                    "trick": "@(Model["head"])",
                    "password": $("#NewPassword").val(),
                    "confirmPWD": $("#ConfirmNewPassword").val()
                }
                var json = JSON.stringify(ModelDetail);
                $.ajax({
                    url: "/MyAccount/ResetPassword",
                    contentType: "application/json;charset=utf-8",
                    data: json,
                    method: 'POST',
                    dataType: "Json",
                    success: function (res) {
                        console.log(res);
                        if (res.Status == 0) {
                            $("#SuccessMessages").html(res.Message);
                            $("div.LightBoxMsg.SuccessDialog").fadeIn();
                            LightBoxCenter("div.LightBoxMsg.SuccessDialog");
                        }
                        else {
                            $("#ErrorMessages").html(res.Message);
                            $("div.LightBoxMsg.RemindDialog").fadeIn();
                            LightBoxCenter("div.LightBoxMsg.RemindDialog");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                        $("#ErrorMessages").html("系統異常，請聯絡客服人員！");
                        LightBoxCenter("div.LightBoxMsg.RemindDialog");
                        $("div.LightBoxMsg.DelayWindow").delay(1888).fadeOut();
                        $("div.LightBoxUnderLay").delay(1888).slideDown(888).fadeOut();
                    }
                });
            }
            else {
                $("#ErrorMessages").html("資料填寫不正確！");
                $("div.LightBoxMsg.RemindDialog").fadeIn();
                LightBoxCenter("div.LightBoxMsg.RemindDialog");
            }
        });

        $("input.CancelConfirmation").on("click", function () {
            window.location.href = '/Home';
        });

        @*檢查密碼是否符合要求格式*@
        $("#NewPassword").blur(function () {
            NewPassword();
        });

        @*檢查密碼與確認密碼是否相同*@
        $("#ConfirmNewPassword").blur(function () {
            ConfirmNewPassword();
        });

        $("input.DialogBtnFunctionV1").on("click", function () {
            $("div.LightBoxMsg").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
            $("div.LightBoxUnderLay").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
        });

        $("input.DialogBtnFunctionV2").on("click", function () {
            $("div.LightBoxMsg.Only").each(function () {
                $(this).slideUp(888).fadeOut("slow");
            });
            window.location.href = '/Home';
        });

        function Judge() {
            if (NewPassword() && ConfirmNewPassword()) {
                return true;
            }
            else {
                return false;
            }
        }

        function NewPassword() {
            var result = true;
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            var EmailAccount = "@(Model["body"])";

            $(".pwdcheck").each(function () {
                $(this).prop('checked', true);
            });
            $("#password_rules").text("");


            if (password.length < 6 && password != "" && password != null) {
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").text("");
                $("#password_rules").text("密碼長度不可小於六碼");
                $("#password_rules").css('display', '');
                $("#pwdcheck_length").prop('checked', false);
                result = false;
            }

            if (!VerifyPwdRule(password, EmailAccount) && password != "" && password != null) {
                $("#password_rules").text("");
                $("#password_rules").text("密碼格式錯誤");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus errTips');
                $("#password_rules").css('display', '');
                $("#pwdcheck_numeric").prop('checked', false);
                result = false;
            }

            if (password == EmailAccount) {
                $("#password_rules").text("");
                $("#password_rules").text("帳密不得相同");
                //$("#pwdTip").attr('class', 'fillForm_contentList pswBar focus');
                $("#password_rules").css('display', '');
                $("#pwdcheck_email").prop('checked', false);
                result = false;
            }


            if (account_confirmpassword != "" && account_confirmpassword == "undefined") {
                if (password == account_confirmpassword) {
                    //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                    $("#PassWordRuleSay").hide();
                }
                else {
                    $("#PassWordRuleSay").show();
                    result = false;
                }
            }
            return result;
        }

        function ConfirmNewPassword() {
            var result = true;
            var password = $("#NewPassword").val();
            var account_confirmpassword = $("#ConfirmNewPassword").val();
            if (password != account_confirmpassword && password != "" && account_confirmpassword != "" && password != "undefined" && account_confirmpassword != "undefined") {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").show();
                result = false;
            }
            else if (password == account_confirmpassword) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar');
                $("#PassWordRuleSay").hide();
            }
            else if (account_confirmpassword == "" || account_confirmpassword == null) {
                //$("#rePwdTip").attr('class', 'fillForm_contentList rePswBar errTips');
                $("#PassWordRuleSay").hide();
            }
            return result;
        }
    </script>
}



    <div class="serviceContentArea">
        <div class="serviceContentBox">
            <div class="ClassTit"><i class="icon ServiceIcon UpdateInformation-2"></i>忘記密碼</div>
            <div class="service_contentForm">
                <div class="service_contentList pswBar">
                    <div class="tit"><span class="red">*</span>設定新密碼</div>
                    <div class="txt">
                    <input type="password" name="PWD" id="NewPassword" onkeyup="VerifyPwdRule(this.value,"@(Model["body"])");" maxlength="16" tabindex="2" onfocus="VerifyPwdRule(this.value,"@(Model["body"])");" placeholder="6-16碼數字或英文字母混合" />
                    @* 預設為不顯示密碼，value="顯示密碼"，toggle! *@
                    <input type="button" value="隱藏密碼" id="hide_pwd" class="btn btn-pswHide" style="display:none" />
                    <input type="button" value="顯示密碼" id="show_pwd" class="btn btn-pswShow" style="display:none" />
                    <div class="ApswRuleBox" id="ShowPasswordRule">
                        <ol>
                            <li class="main">為保證您的個資安全，請確認您的密碼必須符合以下條件：</li>
                            <li><input id="pwdcheck_email" class="pwdcheck" type="checkbox" disabled />帳密不得相同</li>
                            <li><input id="pwdcheck_length" class="pwdcheck" type="checkbox" disabled />密碼長度為6~16字元</li>
                            <li><input id="pwdcheck_repeat" class="pwdcheck" type="checkbox" disabled />新舊密碼不相同</li>
                        </ol>
                    </div>
                    <div id="showResult" class="pswSecure" style="display:none"><p>密碼強度</p></div>
                    <div class="errMsg"><span id="password_rules" style="display:none"></span></div>
                    </div>
                </div>
@*                <div class="service_contentList">
                    <div class="tit">確認密碼</div>
                    <div class="txt"><input type="password" placeholder="請再次確認密碼" /></div>
                </div>*@
                <div id="rePwdTip" class="service_contentList fillForm_contentList rePswBar">
                    <div class="tit"><span class="red">*</span>確認密碼</div>
                    <div class="txt">
                        <input type="password" name="PWDtxt" id="ConfirmNewPassword" maxlength="16" tabindex="3" placeholder="請再次輸入密碼" />
                        <span class="errMsg" id="PassWordRuleSay" style="display: none">確認密碼與密碼不一致，請重新輸入</span>
                    </div>
                </div>
            </div>
            <div class="btmBtnArea">
                <input type="button" value="確認" class="btn btn-submit SendConfirmation" />
                <input type="button" value="取消" class="btn btn-cancel CancelConfirmation" />
            </div>
        </div>
    </div>

    @**彈出對話視窗*@
    <div class="LightBoxUnderLay" style="display: none;">
        <div class="LightBoxMsg DelayWindow ProcessWindow">
            <div class="Remindtxt">
                <span id="">
                    <img src="/Themes/img/System/ProcessWindow.gif"></span>
            </div>
        </div>
        <div class="LightBoxMsg Stlye-3 RemindDialog" style="display: none;">
            <div class="Remindtxt">
                <span id="ErrorMessages"></span>
            </div>
            <div class="DialogBtn">
                <label>
                    <input name="" type="button" value="確認" class="DialogConfirmBtn OrgBtn DialogBtnFunctionV1"></label>
            </div>
        </div>
        <div class="LightBoxMsg Stlye-3 SuccessDialog Only" style="display: none;">
            <div class="Remindtxt">
                <span id="SuccessMessages"></span>
            </div>
            <div class="DialogBtn">
                <label>
                    <input name="" type="button" value="確認" class="DialogConfirmBtn OrgBtn DialogBtnFunctionV2"></label>
            </div>
        </div>
    </div>
@**彈出對話視窗*@