@{
    var Header = ViewBag.NewLinkTitle + "/Themes/2013/img/header.png";
    var Fooer = ViewBag.NewLinkTitle + "/Themes/2013/img/footer.png";
    string APIHost = System.Configuration.ConfigurationManager.AppSettings["TWSPHost"];  //2014.1.24 寄認證信path改讀AppSettings.Config mark by ice
    string CompanyName = System.Configuration.ConfigurationManager.AppSettings["GlobalCompanyName"];
    string MailEndWords = System.Configuration.ConfigurationManager.AppSettings["MailEndWords"];
    string CustomerServicePhone = System.Configuration.ConfigurationManager.AppSettings["CustomerServicePhone"];
    string SupplierPhone = System.Configuration.ConfigurationManager.AppSettings["SupplierPhone"];
    //var MailLink = "http://sellerpotal.newegg.com.tw/Pages/Account/SetPassword.aspx?UserEmail=" + ViewBag.UserEmail + "&RanNum=" + ViewBag.RanNum;
    //var MailLink = "http://localhost:6789/Pages/Account/SetPassword.aspx?UserEmail=" + ViewBag.UserEmail + "&RanNum=" + ViewBag.RanNum;       //2014.1.24 寄認證信path改讀AppSettings.Config mark by ice
    var MailLink = ViewBag.MailLink;
}
<html>
    <head>
        <title></title>
        <style type="text/css">
            .BlueFont {
                color:blue;
            }

            .FontArial {
                font-family:'Arial Narrow', 'Nimbus Sans L', sans-serif;
                font-weight:bold;
                color:blue;
            }

            .SpecialEmphisize {
                font-family:'Arial Narrow', 'Nimbus Sans L', sans-serif;
                font-weight:900;
            }

            .tabletextstyle {
                width : 795px ;
                border : 0 ;
                font-weight : bold;
            }
        </style>
    </head>
    <body>
        <table class ="tabletextstyle">
            <tr>
                <td>
                    <div>
                        <img src="@Header" width="795" height="68" />
                    </div>
                    <div>
                        <br />
                        親愛的@(CompanyName)會員您好：
                        <br/><br/>
                        您重新申請@(CompanyName)的會員帳號密碼，已經申請成功， 
                        <br/><br/>
                        請於收到此封信件後，立即點擊:「<a href="@MailLink">@(CompanyName)密碼更改確認</a>」，即可重新設定您在@(CompanyName)的<b>新密碼</b>， 
                        <br/><br/>
                        若無法啟動連結，請直接使用下列網址執行 : 
                        <br/><br/>
                        <a href="@MailLink">@MailLink</a>
                        <br/><br/>
                        若無法輸入及設定，或變更後仍問題且仍顯示密碼有誤，煩請再來信告知，會盡速為您處理，謝謝您。
                        <br /><br /><br /><br />
                    </div>
                    <div>
                        <p>
                            @(MailEndWords)
                            <br /><br />
                            電話: <span style="color:blue;font-weight:900;" class="FontArial">@(SupplierPhone) (供應商服務專線)</span>
                            <br />
                            客服信箱: <a href="mailto:marketplace@newegg.com.tw" target="_self" >marketplace@newegg.com.tw</a>
                            <br />
                            服務時間: 週一至週五 <span style="color:blue;font-weight:900;" class="FontArial">8:30a.m.~12:00 p.m. 1:00p.m.~5:30 p.m</span>
                            <br /><br />
                            <span style="color:red">※此信件為系統自動發送，請勿直接回覆。※</span>
                            <br />
                            <br />
                            <br />
                        </p>
                    </div>
                    <div>
                        <img src="@Fooer" width="795" height="40" />
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>