@{
    TWNewEgg.Models.ViewModels.Account.CartMemberInfoVM getCartMemberInfo = null;
    TWNewEgg.Models.ViewModels.Account.AddressBookVM memberAddressBook = new TWNewEgg.Models.ViewModels.Account.AddressBookVM();
    int deliverAddressBookID = 0;
    if (ViewBag.GetCartMemberInfo != null)
    {
        getCartMemberInfo = ViewBag.GetCartMemberInfo as TWNewEgg.Models.ViewModels.Account.CartMemberInfoVM;
        if (getCartMemberInfo.DeliverAddressBookList.Count > 0)
        {
            deliverAddressBookID = getCartMemberInfo.DeliverAddressBookList.Where(x => x.DefaultSetting == 1).FirstOrDefault().ID;
        }
    }
}
<input type="hidden" id="deliver_DefaultID" value="@deliverAddressBookID" />
<div class="AddRecipient">
    <span class="UnderLine blue NewMemberAddressBook" bookName="deliver_">新增收件人</span>
</div>
<div class="RecipientTable">
    <div class="TableScroll">
        <table class="table">
        <tbody>
            <tr>
                <th colspan="7"></th>
            </tr>
            <tr class="BgColor BottomBorderLine">
                <th class="TitBolder">預設</th>
                <th class="TitBolder">姓名</th>
                <th colspan="2" class="TitBolder">地址</th>
                <th class="TitBolder">市話</th> 
                <th class="TitBolder">手機</th>
                <th class="TitBolder">功能</th>
            </tr> 
            @{
                if (getCartMemberInfo != null)
                {
                    foreach (var delivAddress in getCartMemberInfo.DeliverAddressBookList)
                    {
                        string tempTelDay = string.Empty;
                        if (!string.IsNullOrEmpty(delivAddress.TelZip))
                        {
                            tempTelDay += "(" + delivAddress.TelZip + ")";
                        }
                        if (!string.IsNullOrEmpty(delivAddress.TelDay))
                        {
                            tempTelDay += delivAddress.TelDay;
                        }
                        if (!string.IsNullOrEmpty(delivAddress.TelExtension))
                        {
                            tempTelDay += "#" + delivAddress.TelExtension;
                        }
                        bool defaultSetting = false;
                        if (delivAddress.DefaultSetting == 1)
                        {
                            defaultSetting = true;
                        }
                        <tr class="UpBorderLine" id="display_deliver_@delivAddress.ID">
                            <th class="">
                                <label><input type="radio" id="Radio_deliver_@delivAddress.ID" name="deliver_Radio" value="@delivAddress.ID" class="radio" checked="@defaultSetting"></label>
                            </th>
                            <th class="">
                                @{
                                    string addressName = string.Empty;
                                    if (delivAddress.RecvSex == 1)
                                    {
                                        addressName = delivAddress.RecvLastName + delivAddress.RecvFirstName + " 先生";
                                    }
                                    else if (delivAddress.RecvSex == 0)
                                    {
                                        addressName = delivAddress.RecvLastName + delivAddress.RecvFirstName + " 女士";
                                    }
                                }
                                <span id="deliver_tempName_@delivAddress.ID">@addressName</span>
                                <input type="hidden" id="hidden_deliver_Sex_@delivAddress.ID" value="@delivAddress.RecvSex" />
                                <input type="hidden" id="hidden_deliver_lastName_@delivAddress.ID" value="@delivAddress.RecvLastName" />
                                <input type="hidden" id="hidden_deliver_firstName_@delivAddress.ID" value="@delivAddress.RecvFirstName" />
                            </th>
                            <th colspan="2" class="">
                                @{
                                    string tempZip = delivAddress.DelivZip != null ? delivAddress.DelivZip.Trim() : "";
                                    string tempZipName = delivAddress.DelivZipName != null ? delivAddress.DelivZipName.Trim() : "";
                                }
                                <span id="deliver_AllAddress_@delivAddress.ID">@(tempZip + " " + delivAddress.DelivLOC + delivAddress.DelivZipName + delivAddress.DelivAddress)</span>
                                <input type="hidden" id="hidden_deliver_Zip_@delivAddress.ID" value="@tempZip" />
                                <input type="hidden" id="hidden_deliver_Loc_@delivAddress.ID" value="@delivAddress.DelivLOC" />
                                <input type="hidden" id="hidden_deliver_ZipName_@delivAddress.ID" value="@tempZipName" />
                                <input type="hidden" id="hidden_deliver_Address_@delivAddress.ID" value="@delivAddress.DelivAddress" />
                            </th>
                            <th class="">
                                <span id="deliver_tempTelDay_@delivAddress.ID">@tempTelDay</span>
                                <input type="hidden" id="hidden_deliver_TelZip_@delivAddress.ID" value="@delivAddress.TelZip" />
                                <input type="hidden" id="hidden_deliver_TelDay_@delivAddress.ID" value="@delivAddress.TelDay" />
                                <input type="hidden" id="hidden_deliver_TelExtension_@delivAddress.ID" value="@delivAddress.TelExtension" />
                            </th>
                            <th class="">
                                <span id="deliver_tempMobile_@delivAddress.ID">@delivAddress.RecvMobile</span>
                                <input type="hidden" id="hidden_deliver_Mobile_@delivAddress.ID" value="@delivAddress.RecvMobile" />
                            </th>
                            <th class="">
                                <span class="Editor editAddressBook" bookName="deliver_" bookID="@delivAddress.ID" zipID="salesorder_delivzip" memberflag="0">編輯</span>
                                <span class="Delete deleteAddressBook" bookName="deliver_" bookID="@delivAddress.ID" memberflag="0">
                                    <img src="/Themes/img/Icon/DeleteImg.png">
                                </span>
                            </th>
                        </tr>
                        <tr class="UpBorderLine PurchaserInput" id="editbook1_deliver_@delivAddress.ID" style="display:none;">
                            <th rowspan="2">
                                @*<label><input type="radio" name="" value="" class="radio"></label>*@
                            </th>
                            <th>
                                <select class="select_sm" id="sex_deliver_@delivAddress.ID" style="width:150px;">
                                    <option value="2">請選擇稱謂</option>
                                    <option value="1">先生</option>
                                    <option value="0">女士</option>
                                </select>
                            </th>
                            <th colspan="1">
                                <select class="select_sm locSelect" style="width:110px;" id="loc_deliver_@delivAddress.ID" bookName="deliver_" bookID="@delivAddress.ID" memberflag="0">
                                    <option value="">請選擇縣市</option>
                                    <option value="基隆市">基隆市</option>
                                    <option value="台北市">台北市</option>
                                    <option value="新北市">新北市</option>
                                    <option value="桃園市">桃園市</option>
                                    <option value="新竹市">新竹市</option>
                                    <option value="新竹縣">新竹縣</option>
                                    <option value="苗栗縣">苗栗縣</option>
                                    <option value="台中市">台中市</option>
                                    <option value="彰化縣">彰化縣</option>
                                    <option value="南投縣">南投縣</option>
                                    <option value="雲林縣">雲林縣</option>
                                    <option value="嘉義市">嘉義市</option>
                                    <option value="嘉義縣">嘉義縣</option>
                                    <option value="台南市">台南市</option>
                                    <option value="高雄市">高雄市</option>
                                    <option value="屏東縣">屏東縣</option>
                                    <option value="台東縣">台東縣</option>
                                    <option value="花蓮縣">花蓮縣</option>
                                    <option value="宜蘭縣">宜蘭縣</option>
                                </select>
                                <select class="select_md ZipNameSelect" style="width:175px;" id="zipName_deliver_@delivAddress.ID" bookName="deliver_" bookID="@delivAddress.ID" memberflag="0">
                                    <option value="">請選擇鄉、鎮、行政區</option>
                                </select>
                            </th>
                            <th colspan="2">
                                <label><input type="text" id="telZip_deliver_@delivAddress.ID" placeholder="區碼" value="@delivAddress.TelZip" maxlength="4" class="input_xs input_Spacing" numberrule="true" style="width:25px;"></label>─
                                <label><input type="text" id="telDay_deliver_@delivAddress.ID" placeholder="市話" value="@delivAddress.TelDay" maxlength="8" class="input_xs input_Spacing" numberrule="true" style="width:70px;"></label>
                            </th>
                            <th>
                                <label><input type="text" id="mobile_deliver_@delivAddress.ID" placeholder="手機號碼" value="@delivAddress.RecvMobile" maxlength="10" numberrule="true" class="input_sm input_Spacing"></label>
                            </th>
                            <th>
                                <span class="Stockpile updateAddressBook" bookName="deliver_" bookID="@delivAddress.ID">儲存</span>
                            </th>
                        </tr>
                        <tr class="PurchaserInput" id="editbook2_deliver_@delivAddress.ID" style="display:none;">
                            <th>
                                <label><input type="text" id="lastName_deliver_@delivAddress.ID" maxlength="10" placeholder="姓氏" value="@delivAddress.RecvLastName" class="input_xs input_Spacing"></label>
                                <label><input type="text" id="firstName_deliver_@delivAddress.ID" maxlength="10" placeholder="名字" value="@delivAddress.RecvFirstName" class="input_xs input_Spacing"></label>
                            </th>
                            <th colspan="2">
                                <label><input type="text" id="address_deliver_@delivAddress.ID" placeholder="限台灣本島 , 且不接受郵政信箱" value="@delivAddress.DelivAddress" maxlength="120" class="input_md input_Spacing" style="width:280px;"></label>
                            </th>
                            <th colspan="1">
                                <label><input type="text" id="telExt_deliver_@delivAddress.ID" placeholder="分機#" value="@delivAddress.TelExtension" maxlength="10" class="input_xs input_Spacing" numberrule="true" style="width:140px;"></label> 
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                <span class="Cancel cancelAddressBook" bookName="deliver_" bookID="@delivAddress.ID" memberflag="0">取消</span>
                            </th>
                        </tr>
                    }
                }
            }
        </tbody>
    </table> 
    </div>
    <div class="clear"></div>
</div>
<div class="RecipientTable">
    <table>
        <tbody>
            @*<tr class="RecipientInput">*@
            <tr class="PurchaserInput AddNewAddressBook" style="display:none;">
                <th rowspan="2">
                    @*<label><input type="radio" name="" value="" class="radio"></label>*@
                </th>
                <th>
                    <select class="select_sm" id="sex_addNewDeliver" style="width:150px;">
                        <option value="2">請選擇稱謂</option>
                        <option value="1">先生</option>
                        <option value="0">女士</option>
                    </select>
                </th>
                <th colspan="1">
                    <select class="select_sm locSelect" style="width:110px;" id="loc_addNewDeliver" bookName="addNewDeliver" bookID="" memberflag="0">
                        <option value="">請選擇縣市</option>
                        <option value="基隆市">基隆市</option>
                        <option value="台北市">台北市</option>
                        <option value="新北市">新北市</option>
                        <option value="桃園市">桃園市</option>
                        <option value="新竹市">新竹市</option>
                        <option value="新竹縣">新竹縣</option>
                        <option value="苗栗縣">苗栗縣</option>
                        <option value="台中市">台中市</option>
                        <option value="彰化縣">彰化縣</option>
                        <option value="南投縣">南投縣</option>
                        <option value="雲林縣">雲林縣</option>
                        <option value="嘉義市">嘉義市</option>
                        <option value="嘉義縣">嘉義縣</option>
                        <option value="台南市">台南市</option>
                        <option value="高雄市">高雄市</option>
                        <option value="屏東縣">屏東縣</option>
                        <option value="台東縣">台東縣</option>
                        <option value="花蓮縣">花蓮縣</option>
                        <option value="宜蘭縣">宜蘭縣</option>
                    </select>
                    <select class="select_md ZipNameSelect" style="width:175px;" id="zipName_addNewDeliver" bookName="addNewDeliver" bookID="" memberflag="0">
                        <option value="">請選擇鄉、鎮、行政區</option>
                    </select>
                </th>
                <th colspan="2">
                    <label><input type="text" id="telZip_addNewDeliver" name="" placeholder="區碼" value="" maxlength="4" class="input_xs input_Spacing" numberrule="true" style="width:25px;"></label>─
                    <label><input type="text" id="telDay_addNewDeliver" name="" placeholder="市話" value="" maxlength="8" class="input_xs input_Spacing" numberrule="true" style="width:70px;"></label>
                </th>
                <th>
                    <label><input type="text" id="mobile_addNewDeliver" name="" placeholder="手機號碼" value="" maxlength="10" class="input_sm input_Spacing" numberrule="true"></label>
                </th>
                <th>
                    <span class="Stockpile addAddressBook" addbookName="addNewDeliver" bookName="deliver_" bookID="">儲存</span>
                </th>
            </tr>
            @*<tr class="RecipientInput">*@
            <tr class="PurchaserInput AddNewAddressBook" style="display:none;">
                <th>
                    <label><input type="text" id="lastName_addNewDeliver" name="" placeholder="姓氏" value="" maxlength="10" class="input_xs input_Spacing"></label>
                    <label><input type="text" id="firstName_addNewDeliver" name="" placeholder="名字" value="" maxlength="10" class="input_xs input_Spacing"></label>
                </th>
                <th colspan="2">
                    <label><input type="text" id="address_addNewDeliver" name="" placeholder="限台灣本島 , 且不接受郵政信箱" value="" maxlength="120" class="input_md input_Spacing" style="width:280px;"></label>
                </th>
                <th colspan="1">
                    <label><input type="text" id="telExt_addNewDeliver" name="" placeholder="分機#" value="" maxlength="10" class="input_xs input_Spacing" numberrule="true" style="width:140px;"></label> 
                </th>
                <th>&nbsp;</th>
                <th>
                    <span class="Cancel CancelNewAddressBook" bookName="addNewDeliver" bookID="" memberflag="0">取消</span>
                </th>
            </tr>
        </tbody>
    </table> 
</div>
<div class="DialogBtn">
    <label><input name="" type="button" value="確認" class="DialogConfirmBtn OrgBtn" id="deliverBooksChoose"></label>
    <label><input name="" type="button" value="取消" class="DialogCancelBtn OrgBtn booksClose" bookName="deliver_" id="deliverBooksCancel"></label>
    <div class="clear"></div>
</div>