@model List<TWNewEgg.Models.ViewModels.Cart.ItemGroup_View>
@using Newtonsoft.Json;

@{
    
    var ItemGroup_Viewtemp = Model.Where(x => x.TypeID == ViewBag.TypeID).FirstOrDefault();
    var CartItemList = Model.Where(x => x.TypeID == ViewBag.TypeID).Select(x => x.CartItemList).FirstOrDefault();
    var PaytypeList = Model.Where(x => x.TypeID == ViewBag.TypeID).Select(x => x.CartPayTypeGroupList).FirstOrDefault();
    List<int> PaytypeList_LowEliminateEightThousand = new List<int>() { 12, 24, 112, 118, 124 };    
  }

@section styleSheets {
    @Styles.Render("~/content/css/ElementLibrary_Layout")
    @Styles.Render("~/content/css/ElementLibrary")
    @Styles.Render("~/content/css/ShoppingCart")
    @Styles.Render("~/content/css/ShoppingProcess")
}

@*↓↓↓↓↓↓商品列表↓↓↓↓↓↓*@
<div class="carts">
    @*↓↓↓↓↓↓各購物車頁籤↓↓↓↓↓↓*@
    <div class="TabArea grayBorder">
        <ul>
            <li data-TypeID="1" Name="TabAreagGrayBorder" class="Tab BorderTab @if (ViewBag.TypeID == 1)
                                     { @("TabSelected"); } "><i class="icon CartIcon CartIconPo"><span>@(Model.Where(x=>x.TypeID == 1).Select(x=>x.TypeQty).FirstOrDefault())</span></i>新蛋購物車</li>
            <li data-TypeID="7" Name="TabAreagGrayBorder" class="Tab BorderTab @if (ViewBag.TypeID == 7)
                                     { @("TabSelected"); } "><i class="icon CartIcon CartIconPo"><span>@(Model.Where(x=>x.TypeID == 7).Select(x=>x.TypeQty).FirstOrDefault())</span></i>海外購物車</li>
            @*<li data-TypeID="" Name="TabAreagGrayBorderDisabled" class="Tab BorderTab @if (ViewBag.TypeID == 8)
                                     { @("TabSelected"); } " ><i class="icon CartIcon CartIconPo"><span></span></i>萊爾富購物車</li>*@
        </ul>
    </div>
@*↓↓↓↓↓↓訂單明細↓↓↓↓↓↓*@
    <div class="Tit Boldtext grayBorder"><i class="icon ServiceIcon Order-2"></i>訂單明細</div>

<table class="ItemListTable darkGray">
    <tr class="ItemListTr">
        <th class="ItemListTh BorderRight Boldtext" style="width:110px;">發貨區域</th>
        <th class="ItemListTh Boldtext" style="width:500px;">商品名稱/配件選購</th>
        <th class="ItemListTh Boldtext">規格</th>
        <th class="ItemListTh Boldtext">單價</th>
        <th class="ItemListTh Boldtext" style="width:100px;">數量</th>
        <th class="ItemListTh Boldtext">小計</th>
        <th class="ItemListTh BorderLeft Boldtext" style="width:109px;">@*加入最愛/*@刪除</th>
    </tr>
    @{if (CartItemList!=null){
          foreach(var item in CartItemList)
          {
            <tr class="ItemListTr CartItemListItem" data-Itemvalue="@(item.CartItemBase.ID)" data-ItemCategory="@(item.CartItemBase.CategoryID)">
                <td class="ItemListTd BorderRight"><p class="Area">@item.CountryofOrigin<br/><span>@(item.CartItemBase.DelvDate)天到貨</span></p></td>
                <td class="ItemListTd">
                    <div class="PicArtBox">
                        <a href="~/item?itemid=@(item.CartItemBase.ID)"><div class="pic ItemListPic"><img src="@(item.ImagePath)" alt=""></div></a>@*產品圖片*@
                        <a href="~/item?itemid=@(item.CartItemBase.ID)"><h3 class="Boldtext">@(item.CartItemBase.Name)</h3></a>@*產品名稱*@
                        <div class="SpecialDeal gray">@*折扣優惠方案放置div*@
                            @if(item.GroupDiscount != null && item.GroupDiscount.Count > 0)
                            {
                                <!--<p class="SpecialDeal"><span class="SpecialDeal SpecialDealClass1-1">折扣</span>5/11~5/31品牌滿額最高折抵1000元</p>-->
                                foreach(TWNewEgg.Models.ViewModels.Cart.GroupDiscount_View objDiscountItem in item.GroupDiscount)
                                {
	    			                <p class="SpecialDeal"><span class="SpecialDeal @objDiscountItem.CSSStyle">@objDiscountItem.EventName</span>@objDiscountItem.Desc</p>
                                }                           
                            }

                            <p class="SpecialDeal CouponSpecialDeal" name="CouponSpecialDeal_@(item.CartItemBase.ID)" style="@if(ItemGroup_Viewtemp.PromotionItemIDList.Where(x => x == item.CartItemBase.ID).Count() != 0){@("display:none")}"><span class="SpecialDeal SpecialDealClass2-1 couponClick" itemid="@item.CartItemBase.ID" itemcategory="@item.CartItemBase.CategoryID.ToString()" itemprice="@item.NTPrice">使用折價券</span>活動折抵:$<span id="CouponDiscount_@item.CartItemBase.ID">0</span></p>                	
                        </div>
                    </div>
                </td>
                <td class="ItemListTd" style="min-width:30px"></td>@*產品規格*@
                <td class="ItemListTd">@(item.NTPrice.ToString("#,##0"))</td>@*單價*@
                <td class="ItemListTd">
                    <p id="@(item.CartItemBase.ID)_MaxQty" style="display:none">@(item.MaxQty)</p>
                    <p class="Modified">@*數量加減*@
                        <span class="less" data-Itemvalue="@(item.CartItemBase.ID)"></span><span id="@(item.CartItemBase.ID)_Qty" class="quantity Boldtext"  data-Itemvalue="@(item.CartItemBase.ID)" data-ItemPricdSingle="@(item.NTPrice)">@(item.Qty)</span><span class="add" data-Itemvalue="@(item.CartItemBase.ID)"></span>
                    </p>               
                </td>
                <td class="ItemListTd Boldtext red" id="@(item.CartItemBase.ID)_PriceXQty">@((item.NTPrice*item.Qty).ToString("#,##0"))</td>@*小計*@
                <td class="ItemListTd BorderLeft">
                    <!-- 因我的最愛頁,尚未完成,我的最愛先暫停使用 -->
                    <div class="Love neAddToFavorite" data-Itemvalue="@(item.CartItemBase.ID)"></div>
                    <div class="Delte neAddToCart" data-Itemvalue="@(item.CartItemBase.ID)"></div>
                </td>
            </tr>
          }}
          }
    
</table>

@*↓↓↓↓↓↓符合特價活動商品列表↓↓↓↓↓↓*@
<div id="PromotionItemIDList" style="display:none">@JsonConvert.SerializeObject(ItemGroup_Viewtemp.PromotionItemIDList)</div>
</div>

@*↓↓↓↓↓↓價格總計↓↓↓↓↓↓*@
<table class="TotalTable">
    <tr class="TotalTr">
        <th class="TotalTh Boldtext">總計：</th>
        <td class="TotalTd Boldtext red" id="TotalPrice">
            @if(CartItemList!=null){
                @(CartItemList.Sum(x=>(x.NTPrice*x.Qty)).ToString("#,##0"))
            }else{
                @("NULL");
            }
        </td>
    </tr>

    <tr class="TotalTr">
        <th class="TotalTh Boldtext">滿額折優惠：</th>
        <td class="TotalTd Boldtext red" id="PromotionPriceSum">            
            @if(CartItemList!=null){
                @(Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum).ToString("#,##0"))
            }else{
                @("NULL");
            }</td>
    </tr>
    <tr class="TotalTr">
        <th class="TotalTh Boldtext">購物金優惠：</th>
        <td class="TotalTd Boldtext red">0</td>
    </tr>
    <tr class="TotalTr" style="display:none;">
        <th class="TotalTh Boldtext">折價券優惠：</th>
        <td id="TotalCouponValue" class="TotalTd Boldtext red">0</td>
    </tr>
</table>
<hr />
<p class="needPay Boldtext TextAlign-right">應付金額　新台幣<span class="red NeedPayMoneyPrice" id="MainNeedPayMoneyPrice">
    @if(CartItemList!=null){
        @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
    }else{
        @("NULL");
    }</span><span>元</span></p>


<div class="pay">
    <div class="payMethod ColorBarTit"><div class="icon"></div><p>選擇付款方式</p></div>
    @{if (CartItemList.Count > 0)          
    {
    <div class="RadioForm">
    @foreach (var item in PaytypeList)
    {
        if (item.CartPayType_View.Count > 0)
        {
            if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.信用卡)
            {
            <div class="CreditCardTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="CreditCard PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="CreditCardInstallment">
                    @{var SinglePayment = item.CartPayType_View.Where(x => x.PayType0rateNum == ((int)TWNewEgg.DB.TWSQLDB.Models.PayType.nPayType.信用卡一次付清)).FirstOrDefault();
                      var InstallmentPayment = item.CartPayType_View.Where(x => x.PayType0rateNum != ((int)TWNewEgg.DB.TWSQLDB.Models.PayType.nPayType.信用卡一次付清)).ToList();
                      var InstallmentPaymentID = 0;
                      if (SinglePayment != null)
                      { 
                        <div>一次：<label><input type="radio" name="pay" class="CreditCardTypes" value="@SinglePayment.PayType0rateNum" data-PayType0rateNum="@SinglePayment.PayType0rateNum" data-insrate="@(1+SinglePayment.InsRate)" data-installmentsnumber="@(SinglePayment.Installments)"/>一次付清</label></div>
                      }

                    <div class="Installment">
                        <div class="InstallmentLeft">
                            <p class="InstallmentTit">分期：</p>
                            <div class="InstallmentInput">
                                @foreach (var InstallmentPaymenttemp in InstallmentPayment)
                                {
                                <div class="CreditCardListGroup" data-Loweliminate="@if(PaytypeList_LowEliminateEightThousand.Where(x=>x==InstallmentPaymenttemp.PayType0rateNum).ToList().Count > 0){ @("8000") } else{ @("0") }">
                                <label><input type="radio" name="pay" class="CreditCardTypes" value="@InstallmentPaymenttemp.PayType0rateNum" data-PayType0rateNum="@InstallmentPaymenttemp.PayType0rateNum" data-insrate="@(1+InstallmentPaymenttemp.InsRate)" data-installmentsnumber="@(InstallmentPaymenttemp.Installments)"/>@InstallmentPaymenttemp.Name</label><br/>
                                <div class="InstallmentRight CreditCardList" id="@("CreditCardTypes_" + InstallmentPaymenttemp.PayType0rateNum + "BankList")" style="display:none;">
                                    <p class="BankTit">銀行：</p>
                                    <div class="Bank">                                     
                                    @foreach (var Banktemp in InstallmentPaymenttemp.BankIDwithName)
                                    {
                                        <label><input type="radio" name="bank" value="@Banktemp.BankID" data-verification="@Banktemp.PaymentVerification"/>@(Banktemp.BankName)</label>
                                    }
                                    <div class="RedText" id="3DVerification" style="display:none">
                                        <p>1. 請選擇適用的銀行卡別來做信用卡分期。</p>
                                        <p>2. 除不盡餘數於第一期收取。</p>
                                        <p>3. 可接受VISA Master JCB 信用卡。</p>
                                        <p>4. 實際分期金額將依各發卡銀行規定略有調整。</p>
                                        <p>※為讓您享受網路安全購物樂趣，系統將進入信用卡3D安全認證視窗，以保障資料在傳送過程中的完整性及保密性，多了一道認證流程讓您網路交易更安全。</p>
                                    </div>
                                    </div>
                                </div>                               
                                </div>
                                InstallmentPaymentID++;
                                }
                            </div>
                        </div>                       
                        <div class="clear"></div>
                    </div>
                    
                    }
                </div>

                <div class="clear"></div>
                <div class="CreditCardTotalMoney">
                    <div class="NeedPay">
                         <p>應付金額：</p>
                         <div class="NeedPayMoney">NTD$ 
                            <span class="NeedPayMoneyPrice" id="CreditCardTotalMoneyID">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="CreditCardInstallmentMoney" id="CreditCardSinglePrice" style="display:none">
                        <p>信用卡應付金額：</p>
                        <div class="NeedPayMoney">NTD$ 
                            <span class="NeedPayMoneyPrice">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                        <div class="clear"></div>
                    </div>
                    <div class="CreditCardInstallmentMoney" id="CreditCardMultiPrice" style="display:none">
                        <p>信用卡分期金額：</p>
                        <div class="InstallmentMoney">NTD$ <span id="InstallmentMoneyPrice"></span> X <span id="InstallmentsNumber"></span>期</div>
                        <div class="clear"></div>
                    </div>
                    <div class="RedText">
                        <span>提醒您：</span>
                        <p>當您在進行訂購流時程時，若於一小時內未完成付款表示未訂購成功，該訂單將會失效，如您仍需要該商品則需重新訂購，謝謝！</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.信用卡紅利折抵)
            {
            <div class="BonusRedeemedTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.貨到付款)
            {
            <div class="CashOnDeliveryTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="CashOnDelivery PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="CashOnDeliveryTotalMoney">
                    <div class="NeedPay">
                         <p>應付金額：</p>
                         <div class="NeedPayMoney">NTD$ 
                            <span class="NeedPayMoneyPrice">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="CashOnDeliveryInstructions">
                        <p>貨到付款使用說明：</p>
                        <span>1.</span>
                        <span>送貨時收取貸款，僅收現金。</span>
                        <div class="clear"></div>
                        <span>2.</span>
                        <span style="width: 705px;">商品送達前物流會與收件人電話連絡，請保持電話暢通，如配送三次都無法連絡收件人，訂單將會自動取消。</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.超商付款)
            {
            <div class="MartPaymentsTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="MartPayments PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="MartPaymentsTotalMoney">
                    <div class="SelectMart">
                         <p>請選擇：</p>
                         <div class="HiLifeMart MartIMG">
                             <a href="#"><img src="/Themes/img/ShoppingProcess/HiLifeIMG.jpg"></a>
                         </div>
                         <div class="SevenElevenMart MartIMG">
                             <a href="#"><img src="/Themes/img/ShoppingProcess/SevenElevenIMG.jpg"></a>
                         </div>
                         <div class="FamilyMart MartIMG">
                             <a href="#"><img src="/Themes/img/ShoppingProcess/FamilyMartIMG.jpg"></a>
                         </div>
                         <div class="OkMart MartIMG">
                             <a href="#"><img src="/Themes/img/ShoppingProcess/OkMartIMG.jpg"></a>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="NeedPay">
                         <p>應付金額：</p>
                         <div class="NeedPayMoney">NTD$ 
                            <span class="NeedPayMoneyPrice">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="MartPaymentsInstructions">
                        <p>超商付款使用說明：</p>
                        <p>選用「萊爾富取貨付款」的買家僅需直接至櫃檯繳費即可領取商品。</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.實體ATM)
            {
            <div class="EntityATMTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="EntityATM PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="EntityATMTotalMoney">
                    <div class="NeedPay">
                         <p>應付金額：</p>
                         <div class="NeedPayMoney">NTD$ 
                            <span class="NeedPayMoneyPrice">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <p>請選擇以下銀行付款，任何金融卡皆可使用：</p>
                    <div class="EntityATMSelectBank">
                        @foreach (var CartPayType_Viewtemp in item.CartPayType_View)
                        {
                            foreach (var Banktemp in CartPayType_Viewtemp.BankIDwithName)
                            {
                                <label><input type="radio" name="bank" value="@Banktemp.BankID"/>@(Banktemp.BankName)</label>
                            }
                        }
                        <div class="clear"></div>
                    </div>
                    <div class="EntityATMPrecautions">
                        <p>注意事項：</p>
                        <p>1.若您擁有以上任一銀行之金融卡 , 可以直接選擇該銀行付款 , 並可免除跨行手續費。</p>
                        <p>2.若您沒有以上銀行之金融卡 , 請選擇任一間銀行進行付款 , 並需負擔跨行手續費15元。</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.網路ATM)
            {
            <div class="WebATMTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="WebATM PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="WebATMTotalMoney">
                    <div class="NeedPay">
                         <p>應付金額：</p>
                         <div class="NeedPayMoney">NTD$
                            <span class="NeedPayMoneyPrice">
                            @if(CartItemList!=null){
                                @((CartItemList.Sum(x=>(x.NTPrice*x.Qty)) - Model.Where(x => x.TypeID == ViewBag.TypeID).Sum(x => x.DiscountSum)).ToString("#,##0"))
                            }else{
                                @("NULL");
                            }
                            </span>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="WebATMInstructions">
                        <p>網路ATM使用說明：</p>
                        <p>1.請自備讀卡機。</p>
                        <p>2.第一銀行以外的晶片金融卡，銀行會另加收跨行手續費$15。</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }

            else if (item.PayTypeGroupID == (int)TWNewEgg.Models.ViewModels.Cart.CartPayTypeGroupenum.儲值支付)
            {
            <div class="PrepaidPaymentTit">
                <label><input type="radio" name="paytype" value="@item.PayTypeGroupID" data-PayType0rateNum="@item.CartPayType_View.FirstOrDefault().PayType0rateNum" class="payMethodTit"/><span>@(item.PayTypeGroupName)</span></label>
            </div>
            <div class="PrepaidPayment PayTypeGroupDetail" id="@("PayTypeGroupID_" + item.PayTypeGroupID + "_Detail")" style="display:none">
                <div class="AllPay">
                    <div class="AllPayUseProcess">
                        <p>歐付寶流程：</p>
                        <p style="width: 695px;">使用歐付寶付款，需先註冊成為會員，完成「申請開通」儲值後，才能於新蛋全球生活網上使用歐付寶儲值支付付款。</p>
                    </div>
                    <div class="PrepaidTeaching">
                        <p>歐付寶開通儲值支付教學可參考：</p>
                        <p>http://www.allpay.com.tw/Service/FAQTopUp</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            }
        }
    }
    </div>
    }}
 </div>

