@{
    ViewBag.Title = "MyAccountDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styleSheets {
    @Styles.Render("~/Themes/css/bootstrap.css")
    @Styles.Render("~/Themes/css/mStyle.css")
    @Styles.Render("~/Themes/css/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Themes/css/owl.carousel.css")
    @Styles.Render("~/Themes/css/owl.theme.css")
    @Styles.Render("~/Themes/css/royal_tab2.css")
}

<div class="wrapper">
<div class="main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="topper">
                        <div class="title"><i class="listi3"></i><div class="text">訂單明細</div></div>
                        <div class="line graybg"></div>
                    </div>
                </div>
            </div>

        <div class="container">
            <div class="row show-grid">
                <div class="col-xs-3">
                    <ul class="list-unstyled">
                        <li>訂單狀態</li>
                        <li>訂單編號</li>
                        <li>訂購日期</li>
                        <li>總價</li>
                        <li>出貨日期</li>
                        <li>配送狀態</li>
                    </ul>   
                </div>
                <div class="col-xs-9">
                    <ul class="list-unstyled">
                        <li>已出貨</li>
                        <li>LBO123456789</li>
                        <li>2015/06/12</li>
                        <li>12,890</li>
                        <li>2015/06/16</li>
                        <li>已配達</li>
                   </ul>
                </div>
            </div>
            <hr>
                <div class="row show-grid">
                    <div class="col-xs-4">
                        <a href=""><img class="img-responsive item border" src="img/product.jpg"/></a>
                    </div>
                    <div class="col-xs-3">
                        <ul class="list-unstyled">
                            <li>商品名稱</li>
                            <li>單價</li>
                            <li>數量</li>
                            <li>小計</li>
                            <li>折價券/滿額折價</li>
                            <li>分期利息</li>
                            <li>總價</li>
                        </ul>   
                    </div>
                    <div class="col-xs-5">
                        <ul class="list-unstyled">
                            <li>Moshino小熊時尚後...</li>
                            <li>12,890</li>
                            <li>12</li>
                            <li>12,890</li>
                            <li>0</li>
                            <li>0</li>
                            <li>12,890</li>
                       </ul>
                    </div>
                </div>
            <hr>
            <div class="row show-grid">
                <div class="col-xs-3">
                    <ul class="list-unstyled">
                        <li>付款方式</li>
                        <li>收件人姓名</li>
                        <li>送貨地址</li>
                        <li>聯絡電話</li>
                        <li>統一編號</li>
                        <li>出貨日期</li>
                        <li>快遞單號</li>
                    </ul>   
                </div>
                <div class="col-xs-9">
                    <ul class="list-unstyled">
                        <li>信用卡付款 ( 一次付清 )</li>
                        <li>王心蛋</li>
                        <li>台北市中山區民權西路三段25號6樓</li>
                        <li>手機0955555555   市話0212345678</li>
                        <li>&nbsp;</li>
                        <li>2015/06/13</li>
                        <li>123456789   EMS郵局</li>
                   </ul>
                </div>
            </div>
        </div>
</div><!-- /.main -->
</div><!-- /.wrapper -->

@section scripts{
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/jquery.freetile.js"></script>
<script src="/Scripts/init.js"></script>
<script src="/Scripts/owl.carousel.js"></script>
<script src="/Scripts/royal_tab.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({

            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });
    });
</script>
}